[2013-12-28 08:14] esbrandt opened #2 "Add Key detection chapter"
Following the addition of the awesome key detection feature into Mixxx, see mixxxdj/mixxx#47, we should explain the feature to our users.

[2013-12-28 08:18] esbrandt opened #3 "Add Master Sync chapter"
Now we have Master Sync, see mixxxdj/mixxx#10, we should explain how it works to our users.

[2013-12-28 08:21] esbrandt opened #4 "Add infos for Auto-DJ crates to the Auto-DJ chapter"
Explain how Autodj crates work, follow up to mixxxdj/mixxx#18

[2014-01-15 06:46] esbrandt opened #5 "Add info on Cue split option"
Follow up to mixxxdj/mixxx#152

[2014-01-18 16:16] esbrandt opened #6 "Add info on new/changed Cue Modes"
See https://github.com/mixxxdj/mixxx/pull/65

[2014-02-02 09:04] #6 closed, assigned to nobody

[2014-02-02 12:57] #5 closed, assigned to esbrandt

[2014-02-05 13:19] esbrandt opened #8 "Update all screenshots"
Gui and Preferences dialog look different then in 1.11, so update all images accordingly.

[2014-02-12 11:55] esbrandt opened #9 "Add info on Musicbrainz metadata lookup"
See https://bugs.launchpad.net/mixxx/+bug/804700

[2014-02-20 06:27] esbrandt opened #10 "Extend live broadcasting section - Added custom format for shout metadata"
Follow up to mixxxdj/mixxx#166

While merged, there are some issues with the original PR. Once this is solved, add info to LB section,

[2014-03-24 07:33] #10 closed, assigned to nobody

[2014-03-27 07:26] esbrandt opened #11 "Add Effects framework chapter"
Must have
Follow up to mixxxdj/mixxx#180

[2014-04-07 06:38] #9 closed, assigned to esbrandt

[2014-04-22 04:44] esbrandt opened #13 "Add infos on new options in Sound Hardware Preferences"
- Headphone Delay, mixxxdj/c5e00a30362375ad1dc8a442d6d6514081dd2af8
- Master Delay, mixxxdj/c5e00a30362375ad1dc8a442d6d6514081dd2af8
- Multi-Soundcard Sync,  mixxxdj/mixxx#219
- Master Mix, mixxxdj/mixxx#229
- Keylock Engine,  mixxxdj/mixxx#236
- Master Mono, mixxxdj/mixxx#315

[2014-11-28 08:09] kain88-de opened #16 "Key detection and pitch shifting"
https://github.com/mixxxdj/mixxx/pull/47

[2014-11-28 08:17] kain88-de opened #17 "Effects"
Framework - https://github.com/mixxxdj/mixxx/pull/180

Graphic EQ Effect - https://github.com/mixxxdj/mixxx/pull/303

[2014-11-28 08:19] kain88-de opened #18 "document all EQ options"
https://github.com/mixxxdj/mixxx/pull/364

Set EQ per deck

edit ronso0:
- mention 'per deck' setting
- explain [EQ types](https://manual.mixxx.org/2.2/en/chapters/preferences.html#mixing-equalizers)

[2014-11-28 08:20] #16 closed, assigned to nobody

[2014-11-28 08:21] #17 closed, assigned to nobody

[2014-11-28 22:08] #4 closed, assigned to esbrandt

[2014-11-29 21:52] #3 closed, assigned to nobody

[2014-12-02 20:50] ywwg opened #19 "Update manual with information and drawbacks of beatmap vs beatgrid"
need to explain that while it can help with tracks with crazy bpm floating, but that it can't be edited and may cause problems with syncing and looping under certain circumstances.

[2014-12-29 20:16] ywwg opened #23 "rewrite creating_skins wiki page to remove most inline <style> recommendations"
We should stop encouraging people to include style information inside the skin xml.  I added a basic "deprecated" message to the style element, but many many bits of example code show the style tag in use.  These should be removed, and paragraph text edited to match.

[2014-12-30 15:47] #11 closed, assigned to nobody

[2014-12-30 15:52] #2 closed, assigned to nobody

[2014-12-31 12:04] kain88-de opened #24 "DJing With Mixxx has become a dump settings descriptions"
We explain a lot of the different settings in the `Djing with mixxx` chapter. Eg Bpm settings. This is intuitive. It takes me a while to find the settings descriptions by just looking at the TOC of the manual.

All this stuff should be moved to `Configuring Mixxx` and then referenced in `Djjing with Mixxx`.

[2015-01-04 11:35] esbrandt commented on #24
I don't think we should just move it from ``Djjing with Mixxx``to ``Configuring Mixxx`` but add a separate ``Preferences`` section instead. This way it is easier to keep the ever-changing preferences settings up-to-date, also for feature maintainers.

I refactored the manual for v1.11, and changed all references to link to a newly written preferences section explaining **all** the options, but did

[2015-01-04 11:41] esbrandt commented on #23
Unfortunately the wiki's skinning section is totally out of date.

I'm ok with tracking wiki issues here, but can some owner/maintainer of the branch please add a ``wiki`` label for selection? Allows to separate manual/wiki issues.

[2015-01-04 12:29] kain88-de commented on #24
It would be really nice if you can find these changes. If you can upload them I will see that I find time to incorporate them into the current version.

[2015-05-23 09:35] esbrandt opened #26 "Add info on purge tracks from library"
Expose the ``Hide tracks > Purge hidden tracks`` workflow
https://bugs.launchpad.net/mixxx/+bug/1452992

[2015-05-23 09:44] esbrandt opened #27 "Add info on multi column sorting option in library"
https://github.com/mixxxdj/mixxx/pull/465

[2015-07-23 12:43] ferranpujolcamins commented on #8
We must ensure that the skin we choose to teach people to use Mixxx is the same skin that Mixxx loads by default.

[2015-07-23 15:38] Be-ing opened #33 "new MIDI mapping GUI"
A new section in Advanced Topics should be written for the MIDI mapping GUI.

[2015-07-23 15:41] Be-ing commented on #13
Also explain the difference between auxiliary, microphone, and vinyl inputs.

[2015-08-08 22:27] ferranpujolcamins opened #38 "Check that all keyboard shortcuts are properly documented"
Check that all keyboard shortcuts are properly documented where the corresponding Mixxx function is explained. Also provide an appendix with a reference list of all the available keyboard shortcuts.

[2015-08-09 01:31] ferranpujolcamins opened #39 "DJing with Mixxx for the visually impaired chapter"
Would be great if an experienced visually impaired Mixxx user could write a manual chapter about how to DJ with Mixxx, targeted to visually impaired Dj's.

[2015-08-09 02:21] Be-ing commented on #39
It would be good to ask on the forum if anyone could do this.

[2015-08-22 23:55] ferranpujolcamins commented on #23
I've started writing an article that explains how to align widgets, since this might be a bit confusing at first. You can see a  sneak peek here: http://mixxx.org/wiki/doku.php/creating_skins:widget_alignment

Any suggestions are welcome. I'll let you now as I make progress.

[2015-08-22 23:57] ferranpujolcamins commented on #18
Hey @daschuer , could you explain what are the differences among our different EQs so we can write about it in the manual? Or you can write it yourself if you prefer :)

[2015-08-23 08:52] daschuer commented on #18
This is on my to list. But on second prio after the broadcast issue.

[2015-08-24 05:45] ferranpujolcamins commented on #18
Nice thank you.
El dia 23/08/2015 10:52, "Daniel Schürmann" <notifications@github.com> va
escriure:

[2015-10-20 01:33] ywwg opened #40 "make latexpdf fails"
I checked out manual HEAD and tried to make a pdf, and got:

! Package pdftex.def Error: File `chapters/../_static/Mixxx-112-LateNight-Effects-Deck.png' not found.

Did someone forget to git add some files?

[2015-10-20 07:27] kain88-de commented on #40
@esbrandt wanted to add the pictures once before the release. To ensure that all the picture come from one OS and the interface looks similar.

This should only affect the current master and not older versions of the manual.

[2015-10-28 23:36] Be-ing opened #41 "Normalization settings"
The manual should explain the new normalization settings.

[2015-11-11 01:01] Be-ing opened #42 "explain differences between sound card synchronization options"
These are new in 1.12. I don't fully understand the differences.

[2015-11-11 01:36] Be-ing commented on #42
This is already covered by Issue #13.

[2015-11-11 01:36] #42 closed

[2015-11-11 03:07] Be-ing opened #43 "change diagrams to depict a 4 channel sound card"
4 channel sound cards are recommended, so they should be depicted in the diagrams. The current diagrams depict a Behringer U-Control UCA202/222 or U-Phono 202. I suggest changing the diagrams to depict a generic symbol of a sound card rather than a particular model.

[2015-11-13 15:11] ywwg commented on #40
Now that code is basically complete, I'd like to move forward on this.  It should be safe to grab screenshots without them getting out of date

[2015-11-14 13:36] kain88-de commented on #40
Yeah but they should all come from one machine to look consistent. I'm not sure how much time @esbrandt has to do this. But it should be OK if you replace them all at once with a linux system.

[2015-11-30 11:35] #27 closed

[2015-11-30 12:05] esbrandt commented on #43
Looking at http://mixxx.org/manual/2.0/chapters/setup.html, we only display 2 channel soundcard for those kind of setups, where it is enough to make things work. We should not encouraging users to spend more where it is not needed.

[2015-11-30 13:50] Be-ing commented on #24
Fixed by https://github.com/mixxxdj/manual/pull/34

[2015-11-30 16:00] #24 closed

[2015-12-01 09:03] #26 closed

[2015-12-03 17:12] Pegasus-RPG opened #49 "Mention vinyl control audio pass-through and how to use it"
The manual is lacking mention of the pass-through feature of vinyl control. Add a section describing what it is and how to use it.

[2015-12-03 21:22] asantoni commented on #49
+1 - Being able to "use Mixxx as a mixer replacement" is huge.

On Thu, Dec 3, 2015 at 12:12 PM, Sean M. Pappalardo <
notifications@github.com> wrote:

--
Albert Santoni
Developer, Mixxx
http://www.mixxx.org
http://www.oscillicious.com

[2015-12-04 04:55] Be-ing commented on #43
How about keeping the current diagram and adding a new one?

[2015-12-20 13:38] esbrandt opened #50 "Upload v2.0 to Mac App Store , and update link in manual"
Any plans to put v 2.0 into the MAS?

Looks like the old v 1.10 from 2011 is no longer available. Currently we link to https://itunes.apple.com/us/app/mixxx/id413756578?mt=12 , which is broken

`The item you've requested is not currently available in the U.S. store.`

[2015-12-23 16:59] esbrandt opened #51 "403 - Forbidden when pushing to mixxxdj/manual.git"
Suddenly:
``Pushing to https://esbrandt@github.com/mixxxdj/manual.git
remote: Permission to mixxxdj/manual.git denied.
fatal: unable to access 'https://esbrandt@github.com/mixxxdj/manual.git/': The requested URL returned error: 403 - Forbidden``

Whats going on here guys, anything i should know of?

[2015-12-23 17:53] rryan commented on #51
Hang on I think I messed something up, sorry!

On Wed, Dec 23, 2015, 12:00 PM S.Brandt <notifications@github.com> wrote:

[2015-12-23 18:04] rryan commented on #51
Sorry, fixed!

On Wed, Dec 23, 2015, 12:53 PM RJ Ryan <rryan@mixxx.org> wrote:

[2015-12-23 18:15] Be-ing commented on #13
Who can document these? @daschuer ?

[2015-12-23 19:33] esbrandt commented on #51
Still 403
Looks like members of the ``Mixxx DJ Software team Documentation```
can only read and clone, but not push.
https://github.com/orgs/mixxxdj/teams/documentation/repositories

[2015-12-23 19:36] rryan commented on #51
Arg, try now?

On Wed, Dec 23, 2015, 2:33 PM S.Brandt <notifications@github.com> wrote:

[2015-12-23 19:38] esbrandt commented on #51
fixed, thanks

[2015-12-23 19:38] #51 closed

[2015-12-23 21:50] Be-ing opened #52 "splitter cable diagram"
PR #35 introduced a section of the Hardware Setup chapter for using DJ splitter cables. This section is missing a diagram.

[2015-12-28 23:51] daschuer commented on #13
https://github.com/mixxxdj/manual/pull/53

[2016-01-04 17:46] Be-ing opened #54 "Preferences chapter?"
Only a small portion of the Preferences window is documented in the manual. Currently, each of these sections explaining a part of the Preferences is scattered around the manual. Should a new chapter be started for the Preferences window that documents all the options?

[2016-04-27 23:07] Be-ing opened #55 "mixer with built-in sound card diagram"
It could be helpful to add a diagram to the vinyl control chapter with a setup using a mixer with a built-in USB sound card.

[2016-09-07 15:12] Be-ing opened #56 "explain how to choose the best waveform renderer"
This can make a big difference in Mixxx's performance. Users should have some guidance to understand the differences between the options and select the best for their system.

[2016-12-05 13:08] #13 closed

[2016-12-05 13:10] #50 closed

[2016-12-05 13:15] esbrandt commented on #33
There is still room for improvenment in https://github.com/mixxxdj/manual/blob/manual/source/chapters/advanced_topics.rst

[2017-03-07 05:09] Be-ing opened #57 "microphone ducking"
There is no documentation about how to use mic ducking and the difference between manual and auto modes.

https://bugs.launchpad.net/mixxx/+bug/1764609

[2017-08-02 23:46] Be-ing opened #61 "section titles at different levels break visual flow"
I asked my friend to read part of the Mixxx manual and she found the visual presentation very distracting. She said the section titles on different levels are confusing and it feels like sections end abruptly when reaching a subsection title because they look so similar.

[2017-11-19 22:03] daschuer opened #62 "Explain why we need an SSE enabled machine"
See here
https://mixxx.org/forums/viewtopic.php?f=3&t=9285
And here
https://github.com/mixxxdj/mixxx/blob/2b26c4697cbaae7960975fab06274912bd16cda4/src/soundio/sounddeviceportaudio.cpp#L884

[2018-01-26 19:58] baldurmen opened #63 "Translated manual online?"
It seems the manual is translated in many languages, but short of building it myself with Sphinx I can't find a way to have a translated version of it...

I guess I would expect translated versions to be built and displayed online https://mixxx.org/manual/xx_XX/latest/...

[2018-01-26 20:51] Pegasus-RPG commented on #63
@rryan Can you set up a Jenkins job to do this?

[2018-02-23 21:42] baldurmen commented on #63
Any advancement on this? I'd like to publish a guide that references the mixxx manual in French and this is a blocker...

[2018-04-07 22:38] rryan commented on #63
Working on this now.

[2018-04-09 04:32] rryan commented on #63
The manual is now published to mixxx.org in every available language.

e.g.
https://mixxx.org/manual/2.1/en
https://mixxx.org/manual/2.1/de/
https://mixxx.org/manual/2.1/de-DE/

The plan is to automatically redirect to the first language in the HTTP Accept-Language header from https://mixxx.org/manual/2.1/

[2018-04-17 18:19] rryan opened #70 "Exit 1 from Fabric when subtasks fail."
[code]

PDF builds currently return 1 all the time even though they produce PDFs. This prevents us from being able to block the manual build when a *real* error occurs. We should fix the problems that are causing the PDF build to exit 1.

[2018-05-16 17:37] ywwg commented on #57
this came up in the facebook group recently, a radio DJ thought we didn't have this feature because it wasn't in the manual

[2018-05-16 18:13] Be-ing commented on #57
There are now tooltips for this. You could likely copy and paste the text from those (with minimal adaptation).

[2018-09-24 18:52] rryan opened #74 "upgrade fabfiles to fabric 2.0"

[2018-10-17 02:37] Goutham-Elangovan commented on #51
Can anyone explain whats the fix?

[2018-10-30 03:28] Be-ing opened #76 "document effects mix modes"

[2018-12-16 05:24] #76 closed, assigned to Be-ing

[2019-01-02 02:13] kuldeep-taroko commented on #51
@Goutham-Elangovan I suppose its the issue because of the wrong password. Please enter the password again

[2019-01-02 02:13] ramkrishnakuldeep commented on #51
@Goutham-Elangovan I suppose its the issue because of the wrong password. Please enter the password again.

[2019-04-27 07:55] ghost opened #80 "Relink should be better described"
The **library relink function** should be better described. I used it to set up a training instance on a second machine and was not certain how and after which user interaction it worked, even after reading all manual content about it.

A typical scenario is, that a harddisc is defect and the user sets up a new machine with a different library path. A step by step howto to set it up with backups o

[2020-02-18 23:28] Holzhaus opened #88 "Versioning"
I'm currently writing a sphinx extension that allows us to build multiple versions of the manual.

What tags/branches do we need? I guess all tags and the master branch. I'll mark the tag with the highest version number as the latest version.

We can use that information to show a warning for all other tags that this is an outdated version of the manual. For all branches we can show a warning that

[2020-02-18 23:28] Holzhaus commented on #88
Pinging @daschuer because you requested that feature ;-)

[2020-02-18 23:49] rryan commented on #88
How much harder is it to stick with our current name scheme? The benefit is that it matches our main repo, and we wouldn't have to change anything in Jenkins.

[2020-02-18 23:51] rryan commented on #88
I'm not clear on what this means -- would building the manual in a given branch imply building all previous versions of the manual?

We currently use a Jenkins job per-version to build and deploy the manual in each supported language to the website -- how do you see this fitting in with that?

[2020-02-19 00:04] Holzhaus commented on #88
Not necessarily. You can still build the manual as usual, which will only build the manual for current HEAD.

However, to get nice sidebar links to switch between versions, each manual needs to know about the other versions. Also, we don't want to make changes to old tags so we can't change `conf.py` or the theme for these versions.

Hence, I'm currently making a wrapper that invokes sphinx that b

[2020-02-19 00:39] Holzhaus commented on #88
OK, I can probably parse the tag names with a regex.

But tbh I still don't understand the pattern behind the tag/branch names. I thought that we had a tag are for each release, but only have 3 `release-<version>` tags. We also have a bunch of `manual-<version>` branches (these are not matching our main repo Btw) and no master branch. Which ones am I supposed to build?
For example, are you current

[2020-02-19 01:32] rryan commented on #88
Hm, would that mean we need to preserve buildability of all our manual release branches going forward? Given we'll need to switch to Python 3 eventually, this would mean we'd have to upgrade old branches to Python 3 only for this switcher feature.

[2020-02-19 02:12] rryan commented on #88
Yea, I guess we don't really have a need / purpose for the release tags after all.

Yea, the HEAD of `manual-2.0.x` branch is used to build https://www.mixxx.org/manual/2.0/  every time you kick off the jenkins job that publishes the manual. (that job doesn't exist anymore because we deleted all of the 2.0.x jobs in Jenkins). This is so that we can keep improving the manual for the 2.0.x after ind

[2020-02-19 09:28] Holzhaus commented on #88
No, you can build the old branches using the current settings using the `-c` argument: just give it the config path of the *latest* config, but use the `sourcedir` of the old version. The only downside is that `version` and `release` are set in the config, so these values will be wrong. But my extension will take care of that.

Here's an example for the 1.1.0 manual that I built with the current c

[2020-02-19 09:34] Holzhaus commented on #88
Ok, so I'll only take branches in to account (and ignore all tags).
I can match them with a regex like `manual-(\d+).(\d+|x).(\d+|x)`, but we could also think about using branch names like `2.2` as we do on the main repo.

Can we introduce a `master` branch for the development version of the manual, as we do on the main repo? Otherwise I can't determine if `manual-2.3.x` is the manual for a releas

[2020-02-19 16:57] daschuer commented on #88
Thank you for working on this.
Just keep in mind that the manual url is compiled into Mixxx
https://github.com/mixxxdj/mixxx/blob/787debc622418e6695bf27eb962fcccdd938534e/src/defs_urls.h#L24

[2020-02-19 19:50] rryan commented on #88
Yea, this is kind of complicated by the fact that we shouldn't change the existing URL structure on the website: https://www.mixxx.org/manual/

I'm still unclear on the proposal here (sorry :)) -- would the latest master release job be in charge of publishing all historical versions of the manual?

[2020-02-19 19:56] rryan commented on #88
Yea, the main reason we don't have a master is so that drive-by contributors don't send PRs to master when they should have gone to an appropriate release branch (sidesteps having to ask them to rebase).

Each time we make a new series, we fork the latest manual-2.y.x to manual-2.(y+1).x and set that to be the default branch on github. Once we establish a new series, the same issue of wrong-branch

[2020-02-19 22:26] Holzhaus commented on #88
Don't worry, I made this configurable.

Yes. Check out PR #89, it builds all old versions at once. This is how it works:
1. Clone the repo
2. Run `sphinx-multiversion` instead of `sphinx-build` (same command line arguments)
This will do the following:
    1. Find other branches/tags (whitelisted in the `conf.py`)
    2. Create a tempdir and shallow-clone all different branches/tags into separate f

[2020-02-19 22:50] rryan opened #90 "Upgrade to Python 3"

[2020-02-20 00:09] Holzhaus commented on #90
What is the problem exactly? I'm using Python 3.8 to build the manual and it works just fine.

[2020-02-20 00:22] Holzhaus commented on #88
Wouldn't this be mitigated by keeping the current release branch as default branch?

Regard renaming branches from `manual-2.2.x` to just `2.2.x` or `2.2`:  This would have make the version switcher make look nicer. Have a look at the bottom left of this screenshot:
![Mixxx with versioning](https://user-images.githubusercontent.com/1834516/74856539-8efb4400-5342-11ea-9357-39b718952a81.png)

[2020-02-20 01:00] rryan commented on #88
Is there a way to use the `version` or `release` from the Sphinx conf.py as the name instead of the branch name?

I feel like we should try to avoid mentioning branch/tags at all and just talk about versions of the software, since we aren't a library users are less likely to care about what branch they're using. Based on my read of #89 we have control over the template that renders this section, s

[2020-02-20 01:02] rryan commented on #88
If we add a master branch, how could we control how it shows up in this list? master is maybe too technical, something like "unreleased" or "development" might make more sense. Would you suggest just naming the branch that? Just another case where the display name of the branch might not match the branch name.

[2020-02-20 01:18] rryan commented on #88
Sweet, this sounds good. Here's the script that Jenkins runs:

[code]
Then the copy rule copies `languages/**/*` to `$HOME/.jenkins/2.3/manual/build-$BUILD_ID/`, and runs this script:
[code]
So it will need some small tweaks to replace the whole mixxx.org/manual directory instead of just a version subdirectory.

[2020-02-20 05:06] rryan commented on #90
Are you running Fabric commands from Python 3 successfully?

[2020-02-20 07:07] daschuer commented on #88
How are different languages selected?
Can this also be a part of this feature?

[2020-02-20 08:51] Holzhaus commented on #88
Nope, this is out of scope and will make stuff much more complex. I'd rather do that as as a separate extension.

[2020-02-21 03:43] rryan commented on #90
It looks like our Transifex config is also broken under Python 3 (I think the newer version of the Transifex tool reject errors in our config that were not errors in the Python 2 version of the tool)

[2020-02-21 03:43] rryan commented on #90
#93 fixes this by switching to a python3-compatible fork of fabric 1.x

[2020-02-21 06:27] rryan commented on #90
Updated all Jenkins manual jobs to use Python 3 now.

[2020-02-21 06:27] #90 closed

[2020-02-21 14:19] Holzhaus commented on #90
I see install errors in the jenkins jobs. Probably because you're missing support for python wheels:
https://pythonwheels.com/

[2020-02-21 14:21] Holzhaus commented on #90
Also:
[code]

[2020-02-21 16:04] rryan commented on #90
Doh! I didn't see that. I think this is an issue with the transifexrc on the builder (not in the repo). Trying a fix now.

[2020-02-21 16:05] rryan commented on #90
Yea I saw those and installed `python3-wheel` on the Ubuntu builder, but that didn't seem to fix it. Failure to build wheels seems non-fatal?

[2020-02-21 16:15] Holzhaus commented on #90
They probably fall back to the egg format then.

[2020-02-21 16:21] rryan commented on #90
My change to .transifexrc to add api_hostname and hostname seems to have fixed this:
[code]
https://builds.renegadetech.mixxx.org/job/v2.1/job/manual-2.1-publish/33/console

[2020-02-21 21:12] Holzhaus commented on #88
Have a look at #94.

[2020-02-23 20:56] esbrandt opened #97 "Improve the display of tables in the new theme"
Currently, all information are in one line per row. This leads to hidden columns and horizontal scrolling. The images inside rows are squeezed.

In the [old style](e3fc30632976433d1a1c07fba1d869de09315e8c), the tables followed the [bookstyle/APA](https://apastyle.apa.org/style-grammar-guidelines/tables-figures/tables), which provides better readability imo.

**NEW**
![Capto_Capture 2020-02-23_09-2

[2020-02-23 20:58] esbrandt commented on #8
Closing after 6 years :(

[2020-02-23 20:58] #8 closed

[2020-02-26 00:13] rryan commented on #88
Looks like you're using Python 3.7 features, and Ubuntu 18.04 is on 3.6.5
https://packages.ubuntu.com/bionic/python3

[code]

[2020-05-03 19:18] esbrandt opened #111 "403 Forbidden : https://mixxx.org/manual/latest/"
**Forbidden**

You don't have permission to access this resource.
Apache/2.4.29 (Ubuntu) Server at mixxx.org Port 80

Same when trying to reach https://mixxx.org/manual/

[2020-05-03 20:05] Holzhaus commented on #111
Something on the server is wrong.

https://mixxx.org/manual/2.2/en/ gives 404 Not Found.

[2020-05-05 22:20] Holzhaus commented on #111
Should be fixed now.

[2020-05-05 22:20] #111 closed

[2020-06-23 12:38] Holzhaus commented on #88
This is resolved.

[2020-06-23 12:38] #88 closed

[2020-06-23 12:39] Holzhaus commented on #97
Looks good. Can you file a PR?

[2020-06-23 12:43] Holzhaus opened #117 "2.3 release checklist"
We have some stuff to do before the 2.3 release.

- [ ] Document cue colors and palette editor/replace tool
- [ ] Document Intro/Outro cues
- [ ] Document AutoDJ changes
- [ ] Update all screenshots to new default theme
- [ ] Update the [Version History](https://mixxx.org/manual/latest/en/chapters/appendix.html#version-history)
- [ ] *... (feel free to edit this post and add more items)*

[2020-06-23 12:53] ronso0 commented on #117
Thanks for taking care of all this tediuous housekeeping! :+1:

[2020-06-23 15:02] nm2107 opened #118 "[MIDI scripting] Wrong info about controller ID in the doc"
Hello :wave:

The [documentation about MIDI scripting](https://www.mixxx.org/wiki/doku.php/midi_scripting) states that the `id` parameter received in the controller's `init` function is what is defined in the related xml file, but actually the given value is the name of the controller that is listed in the `Controllers` tab in mixxx's preferences.

What the doc says :

[code]
What is actually pass

[2020-06-24 23:26] Be-ing commented on #118
We could consider changing either the documentation or the behavior... what are you using this info for in your script?

[2020-06-25 12:40] Be-ing commented on #118
To clarify, is the issue that the MIDI channel identifying the deck number is not received until the first MIDI message is received?

[2020-06-25 15:03] nm2107 commented on #118
yes, exactly :+1:

[2020-08-28 16:28] ronso0 opened #124 "Fast-Forward/-Rewind buttons are not used in skins anymore"
so we should either remove the chapter [3.1.5. Transport Controls](https://www.mixxx.org/manual/latest/en/chapters/user_interface.html#transport-controls)
or
mention the buttons were removed from currents skins but can be mapped with controllers/keyboards.
A link to [wiki/mixxxcontols ](https://github.com/mixxxdj/mixxx/wiki/mixxxcontrols#channeln) would also help, I notice don't have that Btw that

[2020-09-10 13:19] Be-ing opened #126 "document vinyl passthrough"

[2020-09-27 05:23] Be-ing opened #133 "linked images of controllers are missing"
Images linked from the controller documentation on the wiki are missing from the manual.

[2020-09-27 06:48] Holzhaus commented on #133
If you're talking about the controller images at the top: I removed them. Adding a photo of every controller to the manual doesn't add any value (you already know how your controller looks like), but makes the manual in file size. I also doubt we have the necessary copyright to use professional product photos from the vendor.

[2020-10-08 06:59] hannydevelop commented on #19
Hello @ywwg I am an outreachy applicant, can I contribute to this project? I would need to make at least 1 contribution to qualify for the application phase. If yes, could you please attach an assigned label to this issue?

Thank you so much

[2020-10-08 07:01] hannydevelop commented on #38
Hello @ferranpujolcamins  I am an outreachy applicant, can I work on this issue

[2020-10-08 07:06] ferranpujolcamins commented on #38
Sure! Please go ahead.

[2020-10-08 07:38] hannydevelop commented on #38
Thank you so much, I am glad to make this issue my first outreachy contribution. could you please add an assigned label to this issue, I am working on this already. can this project be my contribution for the project "Improve User Manual". Thank you

[2020-10-08 11:48] Holzhaus commented on #19
I'm unsure if this still makes sense to invest time into this because we are replacing beatmap and beatgrid in Mixxx 2.4 with a unified format anyway. Maybe it's more worthwhile to create a 2.4 branch for the manual already? @hacksdump what do you think?

[2020-10-08 12:16] hannydevelop commented on #19
ok! @Holzhaus. I would pick something else to work on then!

[2020-10-08 12:56] Be-ing opened #136 "document importing metadata from Rekordbox"
https://bugs.launchpad.net/mixxx/+bug/1898451

[2020-10-08 12:57] Be-ing opened #137 "document importing metadata from Serato"

[2020-10-08 16:13] hannydevelop commented on #137
Hello @Be-ing can i work on this issue? I have fixed the changes in my first PR. Please assign this issue to me if no one else has taken it so I can work on it.

[2020-10-08 20:39] hannydevelop commented on #137
Please can I get a brief description about this issue to guide me? Thank you!

[2020-10-08 20:57] Holzhaus commented on #137
Have a look at this unpublished article for the Mixxx website: https://github.com/mixxxdj/website/pull/81/files#diff-6de18173609eca0dc549c2ad30341b3a

[2020-10-08 23:26] hannydevelop commented on #137
Thank you so much @Holzhaus I am working on this now!

[2020-10-09 07:27] UdokaVrede opened #138 "Broken link in Readme.md"
I am an outreachy applicant for the december cohort, while setting up, I noticed the link to `Retext` points to a broken page. However while searching, I found the official repository for Retext https://github.com/retext-project/retext. I could make a Pull request to fix this.
![eror](https://user-images.githubusercontent.com/63649352/95555099-2f54c480-0a09-11eb-9760-d99daff92af5.png)

[2020-10-09 07:46] Be-ing commented on #138
Thanks for noticing this. You don't need to open an issue for small tasks like this, just go ahead and make a pull request to fix it. (If you want to make large changes affecting many parts of the manual, it would be good to discuss those on Zulip before spending time working on them.)

[2020-10-09 07:50] UdokaVrede commented on #138
Alright thanks, I apologise for this.

On Fri, Oct 9, 2020 at 8:46 AM Be <notifications@github.com> wrote:

[2020-10-09 09:15] Holzhaus commented on #138
No need to apologize, it's not possible to know all details of a project's preferred workflow beforehand, so it's learning by doing 😉 Thank you for you work!

[2020-10-10 08:54] UdokaVrede commented on #138
Hi @Holzhaus @Be-ing I have made a P.R for this. Thanks

[2020-10-10 11:56] deborahtrez commented on #61
Hi @Be-ing I'm an Outreachy 2020 applicant. I checked out the section titles at the side, and found that your friend has a point.
When you open the bottom section titles, say "Languages", the Table of Contents section is hidden and out of sight.

What if you used a Sphinx theme that implemented a Show/ Hide Collapse menu (that is togglable)  for each of the Sections in the menu? Just a thought.

[2020-10-10 12:04] deborahtrez commented on #124
Hi @ronso0 , I'm an Outreachy 2020 applicant, I would like to request to have this issue assigned to me, if it's okay. I can edit the manuals to either remove that section or describe the second option of mentioning that the buttons were removed but can be mapped.
Thank you.

[2020-10-10 14:27] deborahtrez commented on #124
Thank you. Let me get on it

[2020-10-10 14:47] hannydevelop commented on #38
Hello @ronso0 and @Holzhaus can final review be made and this Pull Request merged? I need to open a pull request for https://github.com/mixxxdj/manual/issues/137

[2020-10-10 15:10] ronso0 opened #140 "Improve MIDI/HID section"
In [14.1. Adding support for your MIDI/HID Controller](https://www.mixxx.org/manual/latest/en/chapters/advanced_topics.html#adding-support-for-your-midi-hid-controller) a link to [wiki/mixxxcontols ](https://github.com/mixxxdj/mixxx/wiki/mixxxcontrols#channeln) would help to see all available controls at a glance.

Also, regarding the mapping procedure 1-12 we should mention the special case when

[2020-10-10 15:23] ronso0 opened #141 "Extend/fix mixer documentation"
Double-check if all controls are mentioned in the [Mixer section](https://www.mixxx.org/manual/latest/en/chapters/user_interface.html#the-mixer-section)

For example add info about Quick Effects in https://www.mixxx.org/manual/latest/en/chapters/user_interface.html#equalizers-and-gain-knobs

[2020-10-10 15:27] ronso0 opened #142 "Fix up Waveform documentation"
[Waveform displays](https://www.mixxx.org/manual/2.3/en/chapters/user_interface.html#waveform-displays)

Currently there's info missing about the various new features in the overview like intro/outro ranges, hotcue hover, time display on right-click etc.

[2020-10-10 15:29] ronso0 commented on #142
Maybe we should rename the entire section to 'Visuals' or something?
Right now Spinnies are included (documentation incomplete) but we shouldn't really create a single chapter just for Spinnies, should we?

[2020-10-10 15:44] Jiji98 opened #144 "Change the display of headings"
As seen from the attachment provided below, headings are hidden. For example a user looking for how to play for an audience (Heading 6.1.2) and checking in the user manual will have to go through many chapters before realising it is actually in chapter 6. Many people don't like reading user manuals because they are often boring with too many writtings. So I think subheadings should be effectively

[2020-10-10 15:57] ronso0 opened #145 "Improve emphasis of keyboard shortcuts"
IMO they should stand out more than they do now:
![image](https://user-images.githubusercontent.com/5934199/95659544-1855c580-0b22-11eb-8180-727ffacbd2ec.png)

[2020-10-10 16:12] ronso0 opened #146 "Document Intro/Outro markers"
Where added in https://github.com/mixxxdj/mixxx/pull/1242 (Mixxx 2.3)
They should be mentioned
* in https://www.mixxx.org/manual/2.3/en/chapters/user_interface.html?highlight=hotcues#waveform-displays
* in https://www.mixxx.org/manual/2.3/en/chapters/user_interface.html?highlight=hotcues#playback-cue-controls
* added to the [Glossary](https://www.mixxx.org/manual/2.3/en/glossary.html#glossary-of-t

[2020-10-10 16:19] ronso0 opened #147 "Check Sphinx theme can be improved"
Conduct usability testing to find issues like
subsection headers too dominant https://github.com/mixxxdj/manual/issues/61
emphasise keyboard shortcuts more https://github.com/mixxxdj/manual/issues/145

[2020-10-10 16:19] Holzhaus commented on #146
Note: This needs to go into the `manual-2.3.x` branch, not `manual-2.2.x` as it's a new feature in Mixxx 2.3.

[2020-10-10 16:24] Holzhaus commented on #147
Also check if there's a way to avoid a horizontal scroll bar on long tables.

[2020-10-10 16:33] hannydevelop commented on #145
I will work on this now @ronso0

[2020-10-10 17:11] UdokaVrede commented on #142
Hi ronso I'd like to take this up
what are the steps to reproduce this

[2020-10-10 20:25] Be-ing commented on #146
I'm not sure I agree they should be added to the User Interface chapter. It takes too many words to explain how to use them.

[2020-10-10 20:27] Be-ing commented on #146
The text is mostly already written at https://mixxx.org/news/2020-07-09-intro-outro-sections/ and needs to be adapted for the manual.

[2020-10-10 20:36] Holzhaus commented on #146
I think we should add it to the UI chapter for now. In the long term, the manual should probably be restructured so that Decks, Samplers, etc. all get their own (sub-)chapter.

[2020-10-11 04:55] Anisha-28 commented on #144
hi @Jiji98  i am an outreachy applicant, i can have a look at this issue

[2020-10-11 08:40] Jiji98 commented on #144
Hello
I'm an outreachy applicant too

Le dim. 11 oct. 2020 à 05:55, Anisha-28 <notifications@github.com> a écrit :

[2020-10-11 09:07] fiona-byte commented on #141
Hi @ronso0, I want to work on this?

[2020-10-11 10:43] Holzhaus commented on #144
@Jiji98 can you elaborate what you have in mind? Are you proposing to display all sidebar items expanded?

I m not sure if this actually better, but feel free to experiment. Note that there is a search function, too.

[2020-10-11 11:03] Jiji98 commented on #144
Actually i took the example of "playing for an audience" (6.1.2). When using the search bar, a message " Your search did not match any document" is displayed. So I was actually thinking about displaying in the table of content all the various subtitles such that one opening the manual knows exactly where to go to for what he needs. Also I have not been able to download the manual in PDF form so I

[2020-10-11 15:40] ronso0 commented on #146
Yes, we should mention them there and link to the AutoDJ chapter later on where the usage is explained.

[2020-10-11 15:50] ronso0 commented on #145
Before actually commiting changes it would be nice if you'd show some possible variations so we can discuss what fits best.

[2020-10-11 15:56] ronso0 commented on #141
@fiona-byte Thank you!
Both for QuickEffects and crossafder switches we need to update/add screenshots.
Do you already have Mixxx installed?

[2020-10-11 17:26] fiona-byte commented on #141
Okay @ronso0. I do have Mixxx installed. How do I send my contribution when I'm done?

[2020-10-11 20:24] Holzhaus commented on #144
Hmm, I don't think uncollapsing the whole sidebar is a good idea, because it would become far too long. However, maybe we can increase the `:maxdepth:` option in `index.rst` to 3 or 4.

[2020-10-12 09:37] hannydevelop commented on #145
ok! i would do that

[2020-10-12 11:13] ronso0 opened #153 "Update screenshots to use the default skin"
Default skins:
2.2.x Deere
2.3.x LateNight, PaleMoon theme

[2020-10-12 11:22] ronso0 commented on #49
See #126 targeting 2.2/2.3

[2020-10-12 11:22] #49 closed

[2020-10-12 11:52] LizzyKate commented on #153
I will work on this issue

[2020-10-12 11:57] LizzyKate commented on #153
I will work on this. Thanks

[2020-10-12 12:02] ronso0 commented on #153
Thanks @LizzyKate
I suggest you start with a PR targeted at 2.2.x
Let us know if you need any help.

[2020-10-13 20:29] hannydevelop commented on #145
This is an example of a shortcut key as written in manual-2.2.x

* Activate the search input field by clicking in it or pressing :kbd:`CTRL` +
  :kbd:`F` (Windows/Linux) or :kbd:`CMD` + :kbd:`F` (Mac).

These are possible suggestions to add emphasis to the keys. An image is attached to show what
each empahasis looks like after build respectively:

* Activate the search input field by clicking in i

[2020-10-13 20:46] ronso0 commented on #145
First impression:
* we may use :file: but with black font color
* maybe simple bold text is already sufficient

To test another bold variant, could you please also post an image where you replaced the strings
CTRL > Ctrl
CMD > Cmd (or even ⌘)

[2020-10-13 21:04] Holzhaus commented on #145
We should definitely keep using `:kbd:`. Using something else is plain wrong, because it changes the semantic meaning. If we want to modify how it looks, we can improve the `sources/_static/css/mixxx.css` file. I like the `:guilabel:` style best, because it kind of looks like an actual key, but if you prefer the style from :file: is also okay :wink:

[2020-10-13 21:14] ronso0 commented on #145
Yes, we talk about the styles only which should be applied to :kbd:

The rounded corners of :guilabel: are nice indeed, but :guilabel: itself is too big IMO. Let's see how it looks with Capitals only

[2020-10-13 21:20] Holzhaus commented on #145
We could reduce the padding and the font size a bit.

[2020-10-13 23:27] Holzhaus opened #157 "Document Rekordbox library import"
Mixxx 2.3 will support importing removable device libraries from Rekordbox: https://mixxx.org/news/2020-07-20-new-in-2-3-rekordbox-support/

This should be briefly be documented here: https://mixxx.org/manual/2.3/en/chapters/library.html#itunes-traktor-rhythmbox-banshee-using-external-libraries

[2020-10-14 05:21] hannydevelop commented on #145
So, @Holzhaus and @ronso0 we would still be going with ```:kbd:``` but tweaking the styles a little?

[2020-10-14 05:23] hannydevelop commented on #145
Hello @ronso0 should i still go ahead with testing another bold variant?

[2020-10-14 06:24] deborahtrez commented on #153
Hey @LizzyKate i had started working on updating chapter 3 for this issue [here](https://github.com/mixxxdj/manual/pull/154), you can skip it, and update the other chapters, if its no bother :) .

[2020-10-14 09:43] UdokaVrede commented on #157
Hi I am Udoka an outreachy intern I want to work on this

[2020-10-14 09:44] UdokaVrede commented on #147
can I get more details to work on this

[2020-10-14 10:18] Holzhaus commented on #157
Thanks!

[2020-10-14 10:28] Holzhaus commented on #147
This would need to be done in the [`mixxx.css`](https://github.com/mixxxdj/manual/blob/manual-2.2.x/source/_static/css/mixxx.css) file and requires some CSS knowledge. The easiest way is probably to browse the manual, open the web developer tools in your browser (usually Ctrl+Shift+i) and edit the CSS rules there. When you find a configuration that looks good, put it into `mixxx.css`.

[2020-10-14 11:15] hannydevelop commented on #157
Hello @Holzhaus I think this issue has initially been open by @Be-ing here [#136 ](https://github.com/mixxxdj/manual/issues/136)
what do you think

[2020-10-14 11:17] Holzhaus commented on #157
Right, I didn't look it up properly. I'll close the other one.

[2020-10-14 11:18] #136 closed

[2020-10-14 11:56] Holzhaus opened #159 "Document Behringer B-CONTROL Deejay BCD2000"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:56] Holzhaus opened #160 "Document Numark NS7 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:57] Holzhaus opened #161 "Document EKS Otus controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:57] Holzhaus opened #162 "Document Novation Launchpad MK1 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:58] Holzhaus opened #163 "Document Numark DJ2GO controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:58] Holzhaus opened #164 "Document Denon DN-SC2000 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:59] Holzhaus opened #165 "Document Korg nanoKONTROL controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 11:59] Holzhaus opened #166 "Document DJ Tech Mixer One controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:00] Holzhaus opened #167 "Document Evolution X-Session controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:00] Holzhaus opened #168 "Document Sony Sixxaxis controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:01] Holzhaus opened #169 "Document Novation Twitch controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:01] Holzhaus opened #170 "Document Novation Launchpad MK2 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:02] Holzhaus opened #171 "Document Vestax VCI-100MKI controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:02] Holzhaus opened #172 "Document Novation Launchpad Mini"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:03] Holzhaus opened #173 "Document Hercules DJControl MP3 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:03] Holzhaus opened #174 "Document Kord NanoPAD2 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:04] Holzhaus opened #175 "Document TrakProDJ controller mapping"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:04] Holzhaus opened #176 "Document Numark Omni Control controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:05] Holzhaus opened #177 "Document Pioneer CDJ-850 controller mapping"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:05] Holzhaus opened #178 "Document Pioneer CDJ-2000 controller mapping"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:06] Holzhaus opened #179 "Document Native Instruments Traktor Control F1 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:06] Holzhaus opened #180 "Document Reloop Digital Jockey 2 Controller Edition controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:07] Holzhaus opened #181 "Document M-Audio Xponent controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:07] Holzhaus opened #182 "Document Akai LPD8 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:08] Holzhaus opened #183 "Document DJ Tech DJM-101 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:08] Holzhaus opened #184 "Document Hercules DJ Console MK4 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:09] Holzhaus opened #185 "Document Vestax VCI-100 MixVibes/3DEX edition controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:09] Holzhaus opened #186 "Document Native Instruments Traktor Kontrol X1 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:10] Holzhaus opened #187 "Document Numark V7 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:10] Holzhaus opened #188 "Document DJ Tech Kontrol One controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:10] Holzhaus opened #189 "Document Gemini CDMP-7000 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:11] Holzhaus opened #190 "Document Hercules DJ Console Mac Edition controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:11] Holzhaus opened #191 "Document Numark Total Control controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:12] Holzhaus opened #192 "Document Numark iDJ Live II controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:12] Holzhaus opened #193 "Document Mixman DM2 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:13] Holzhaus opened #194 "Document DJ Tech Mix 101 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:13] Holzhaus opened #195 "Document Akai MPD24 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:13] Holzhaus opened #196 "Document Tascam US-428 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:14] Holzhaus opened #197 "Document Hercules DJControl Starlight controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:14] Holzhaus opened #198 "Document Miditech Midicontrol controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:15] Holzhaus opened #199 "Document DJTechTool Midi Fighter Twister controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:15] Holzhaus opened #200 "Document Denon MC3000 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:15] Holzhaus opened #201 "Document Pioneer CDJ-350 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:16] Holzhaus opened #202 "Document Vestax Typhoon controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:16] Holzhaus opened #203 "Document Vestax Spin controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:16] Holzhaus opened #204 "Document Gemini FirstMix controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:17] Holzhaus opened #205 "Document Reloop Digital Jockey 2 Master Edition controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:17] Holzhaus opened #206 "Document M-Audio X-Session Pro controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:18] Holzhaus opened #207 "Document DJ TechTools Midi Fighter Classic controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:18] Holzhaus opened #208 "Document DJ Tech iMix Reload controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:19] Holzhaus opened #209 "Document Kontrol DJ KDJ500 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:19] Holzhaus opened #210 "Document Hercules DJ Console MK2 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:19] Holzhaus opened #211 "Document Korg nanoKONTROL2 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:20] Holzhaus opened #212 "Document Behringer B-CONTROL Deejay BCD3000 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:20] Holzhaus opened #213 "Document American Audio Radius 2000 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:21] Holzhaus opened #214 "Document Hercules DJ Console MK1 controller"
Starting with Mixxx 2.3, all controller mappings are now supposed to be documented in the Manual. This is necessary so that other users know how to use this mapping.

This controller mapping is not documented properly at the moment.

More Information: https://github.com/mixxxdj/mixxx/wiki/Contributing%20mappings#documenting-the-mapping
Example of a documented mapping: https://manual.mixxx.org/2.3/

[2020-10-14 12:49] Holzhaus commented on #192
@nkorth Could you have a look and contribute some documentation for your mapping, please?

[2020-10-14 12:52] Holzhaus commented on #197
The PR by @kerrickstaley is here: https://github.com/mixxxdj/mixxx/pull/2061

There should be a wiki page, maybe it was overlooked in the migration.

[2020-10-14 12:53] DJPhatso commented on #197
There is one indeed:

https://github.com/mixxxdj/mixxx/wiki/Hercules-Dj-Control-Starlight

[2020-10-14 12:55] Holzhaus commented on #197
OK, I will take care of that.

[2020-10-14 13:33] dharmelolar commented on #80
Hello, please can i work on this issue?

[2020-10-14 13:50] Holzhaus commented on #80
@dharmelolar Thanks!

[2020-10-14 13:52] Holzhaus commented on #192
Oh, there's a wiki page: https://github.com/mixxxdj/mixxx/wiki/Numark-Idj-Live-Ii

[2020-10-14 14:08] Holzhaus commented on #192
I'll take care of it.

[2020-10-14 14:20] ronso0 commented on #145
Hm, it looks like we're focused on the mix of :guilabel: and :file:
* round corners
* less padding & a little smaller font than :guilabel:
* bold
* Capitals only (CTRL > Ctrl, COMMAND > Cmd / ⌘)

Yes, it would be nice if you could create a preview for that.

[2020-10-14 14:22] hannydevelop commented on #145
ok, I would work on that!

[2020-10-14 14:43] ronso0 commented on #145
I haven't worked on manual styles myself so far, and I didn't find any definition for :kb: in the static stylesheet, so I guess you need to look how :guilabel: is styled and create an overriding rule in https://github.com/mixxxdj/manual/blob/manual-2.2.x/source/_static/css/mixxx.css
Any other hints on that @Holzhaus ?

[2020-10-14 14:46] ronso0 opened #217 "Add missing Key information to Decks chapter"
Key info is missing here
https://www.mixxx.org/manual/2.2/en/chapters/user_interface.html#track-information-display

[2020-10-14 15:04] Holzhaus commented on #145
Nope, inspect the kbd element and check what CSS class it has. Then override that class via mixxx.css just as you described.

[2020-10-14 17:54] UdokaVrede commented on #147
I would work on it

On Wed, Oct 14, 2020 at 2:55 PM Chiamaka <notifications@github.com> wrote:

[2020-10-14 18:06] ronso0 opened #218 "mention all track properties that are drag sources and targets for loading tracks"
in https://www.mixxx.org/manual/latest/en/chapters/library.html#loading-tracks only `title` is mentioned, but this also applies to artist, album, ... and cover art.

[2020-10-14 18:08] ronso0 commented on #218
any PR addressing this should be based on https://github.com/mixxxdj/manual/pull/135 in case it's not merged, yet.

[2020-10-14 18:22] ronso0 commented on #147
Thanks @UdokaVrede
if you didn't already work with `git` yet please read through https://github.com/mixxxdj/mixxx/wiki/Using%20Git
Here are some basics about restructresText https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html
Please also check https://mixxx.zulipchat.com/#narrow/stream/109123-introduce-yourself/topic/Improve.20User.20Manual for the recent discussion and some mo

[2020-10-15 09:55] deborahtrez commented on #217
Hi @ronso0 , i hope you're okay.
I saw that this issue points to a pull request i made a few days ago. I'm happy to work on this issue with some guidance. Is it a documentation problem?
What key information needs to be added to the chapter?

[2020-10-15 12:04] deborahtrez opened #220 "Update all screenshots to new default theme for 2.3.x"
In reference to this [issue](https://github.com/mixxxdj/manual/issues/117) opened by @Holzhaus , @ronso , i will update the screenshots in the Mixxx manual 2.3.x  to the new default theme.
For example in the Overview section section, the manual shows the interface looking like this,

![image](https://user-images.githubusercontent.com/28389950/96120011-8a4d5680-0ef6-11eb-8f83-eb0802329336.png)

but

[2020-10-15 12:05] #220 closed

[2020-10-15 15:23] ronso0 opened #223 "test and repair forum links in controller mappings chapter"

[2020-10-15 15:56] Holzhaus commented on #223
This can easily be automated using a small python script. Check the commit message of this commit: https://github.com/mixxxdj/mixxx/pull/3108/commits/20b220c0219af4e77f1bddc06097c32b73ec44e1

[2020-10-15 16:21] ronso0 commented on #217
Yes, great! Please add info about Key and Cover Art, as well.

[2020-10-15 21:50] deborahtrez commented on #217
Awesome. Thank you for assigning this to me. Let me get started on it.

[2020-10-16 17:07] Jiji98 commented on #144
I see

[2020-10-16 21:35] Holzhaus commented on #144
Maybe we can improve the index further by using multiple toctrees with captions, e. g. :

[code]

[2020-10-17 15:49] Holzhaus commented on #57
Related Zulip Chat: https://mixxx.zulipchat.com/#narrow/stream/109695-_support/topic/troubleshooting.20autoduck/near/213657544

[2020-10-18 03:52] Goodiec commented on #218
Hello, I would like to work on this. Noticed that the properties that are visible on the deck are the track artist, track title and the track cover. Do you think that since track cover will be mentioned that a brief description of it should be added in the Track Information Display section like you have for track title and track cover[ here ](https://www.mixxx.org/manual/latest/en/chapters/user_in

[2020-10-19 13:59] DJPhatso commented on #184
Technically, the MIDI configuration is essentially the same as the [https://github.com/mixxxdj/mixxx/wiki/hercules_dj_control_mp3_e2](DJ MP3 e2/LE/Glow), so it shouldn't be to difficult to just port this mapping.

I'll see if I can find some time to do that.

[2020-10-19 15:46] ronso0 commented on #218
Yes, that would be nice.
For the description, take a look at the tooltips that are displayed when hovering the cover.
The strins are set in https://github.com/mixxxdj/mixxx/blob/2.3/src/skin/tooltips.cpp#L798 (see also the `dropTracksHere` and `dragItem` appendixes set above that)

[2020-10-19 23:48] Goodiec commented on #218
Here's a [pull request](https://github.com/mixxxdj/manual/pull/234) for this. Haven't added a description for the cover art in the Track Information Display section as I noticed the images would have to be updated also to include cover art as it is now in the software. Kindly let me know how you think I should go about that. Thank you

[2020-10-21 08:47] deborahtrez commented on #217
Hi @ronso0 i worked on this issue inside PR #154 . And committed the changes. I thought it would be easier to work on all the requested changes at that moment on the same branch. I hope this is okay with you. Just waiting on your approval.... :)

[2020-10-21 09:27] deborahtrez commented on #57
Hey @Holzhaus @ywwg @Be-ing . Can this issue be assigned to me? I would be happy to work on this :)

[2020-10-21 09:50] Holzhaus commented on #57
Cool, I assigned the issue to you.

Yes, that makes sense.

[2020-10-21 09:58] deborahtrez commented on #57
Thank you! On it!

[2020-10-21 13:07] ronso0 commented on #57
@deborahtrez Do you have an audio setup to test this with?

[2020-10-21 17:29] ronso0 opened #238 "reasonable order for chapters in 3.2. The Mixer Section"
current order:
![image](https://user-images.githubusercontent.com/5934199/96755279-cc810700-13d2-11eb-8811-6e5584968574.png)

* new order to bundle channel controls:

3.2.2. Equalizers and Gain Knobs
3.2.3. PFL/Headphone Button
3.2.4. Crossfader
3.2.5. Headphone and Master Mix Controls

* move "3.2.2. Section Expansion Buttons" to the bottom of  **3. An Overview of the Mixxx Interface**

[2020-10-21 21:45] ulomau commented on #238
Please i am an oitreachy applicant, can i work on this issue?

[2020-10-21 21:55] ronso0 commented on #238
Welcome @ulomau !
I have just assigned this bug to you. Simple [open a PR](https://github.com/mixxxdj/manual/pulls) and let us know in case you need help.

[2020-10-21 21:57] ulomau commented on #238
Okay thank you

[2020-10-22 02:49] deborahtrez commented on #57
i'm using my headphones, that have an inbuilt microphone. When i talk, i can hear the ducking effect, on auto mode. The other modes work too. The level of volume to which the music reduces can be adjusted with the Strength knob.

Still trying to figure out how to record both my voice and the music on the same channels, in a recording. but i can do this another time.

[2020-10-22 10:19] Holzhaus opened #240 "Fix broken links"
Some broken links in the manual-2.2.x branch:

[code]

[2020-10-22 11:39] Goodiec commented on #218
Couldn't get the previous request to pass so I created a new one, please review - https://github.com/mixxxdj/manual/pull/241

[2020-10-22 11:48] #218 closed

[2020-10-22 20:35] ywwg commented on #57
you should be able to make a Mixxx Recording to combine your voice and the music in one file: https://www.mixxx.org/manual/latest/en/chapters/djing_with_mixxx.html?highlight=recording#recording-your-mix

[2020-10-23 09:33] deborahtrez commented on #57
Thank you @ywwg .

[2020-10-23 14:39] deborahtrez commented on #57
Here is the [pull request](https://github.com/mixxxdj/manual/pull/247) for this issue.

[2020-10-23 17:36] Goodiec commented on #146
@Be-ing can I work on this?

[2020-10-23 19:00] #38 closed

[2020-10-23 19:11] Be-ing commented on #146
You do not need to ask to work on something unless someone else has said they're already working on it.

[2020-10-23 19:55] Goodiec commented on #146
OK, thank you

[2020-10-23 20:16] hannydevelop commented on #145
Hello @ronso0 and @Holzhaus I know this probably took sometime to fix, but here below is an image of the new `:kbd:` 😄 . I did override the initial style of `:kbd:` with new styles? What do you think? I can keep tweaking the styles until they match what you need.
![Uploading Mixxx3.PNG…]()

[2020-10-23 20:19] hannydevelop commented on #145
Hello @ronso0 and @Holzhaus I know this probably took sometime to fix, but here below is an image of the new :kbd: 😄 . I did override the initial style of :kbd: with new styles? What do you think? I can keep tweaking the styles until they match what you need.
![Mixxx3](https://user-images.githubusercontent.com/62933980/97050495-608ad400-1575-11eb-8039-bab3fa258441.PNG)

[2020-10-23 20:20] hannydevelop commented on #145
Should I add a touch of orange? (I guess it's Mixxx colour). I know the example above is too plain, I just need your suggestions.

[2020-10-23 20:24] hannydevelop commented on #145
I think the style is cool though, especially from this picture
![Mixxx4](https://user-images.githubusercontent.com/62933980/97050889-122a0500-1576-11eb-8237-dfdd89813fcd.PNG)

[2020-10-23 21:01] Holzhaus commented on #145
The two empty boxes on each side of the plus sign look weird, but other than that I really like it.

[2020-10-23 21:16] hannydevelop commented on #145
😆 I would make a PR to effect this design and would make sure the empty boxes are removed! Thanks for the review.

[2020-10-23 21:24] ronso0 commented on #145
Even though that is a nice idea I think it stands out too much from the surroundng text.
IMO the shadowed boxes you proposed are sufficient:
![Mixxx3](https://user-images.githubusercontent.com/62933980/97050495-608ad400-1575-11eb-8039-bab3fa258441.PNG)

[2020-10-23 21:30] Holzhaus commented on #145
From the semantic perspective I quite like it and I think this is why sphinx support nested `:kbd:` roles: https://github.com/sphinx-doc/sphinx/issues/7530

Maybe it's possible to make the outer box Transparent if two kbd elements are nested? No sure if this is possible with CSS.

[2020-10-23 21:38] hannydevelop commented on #145
Ok, I will try to make the outer box Transparent(If possible) and reduce font!

[2020-10-23 21:41] Holzhaus commented on #145
Can you open a draft PR? Then we can already have a look you don't need to share Screenshots. :D

[2020-10-23 21:41] ronso0 commented on #145
don't confuse transparent with translucent (I assume @Holzhaus referred to the latter)

[2020-10-23 21:44] hannydevelop commented on #145
Ok @ronso0

[2020-10-25 10:28] championshuttler commented on #240
Can i work on it for outreachy?

[2020-10-25 10:42] Holzhaus commented on #240
Sure, go ahead.

I'm unsure about that mega.co.nz link, I opened a Zulip Discussion for it: https://mixxx.zulipchat.com/#narrow/stream/109176-documentation/topic/mega.2Eco.2Enz.20link.20in.20the.20manual

[2020-10-25 15:46] Holzhaus commented on #240
Replace the `mega.co.nz` link with `https://lame.sourceforge.io/links.php#Binaries`.

[2020-10-26 18:45] Jiji98 commented on #144
The documentation is built with ReadTheDocs with Sphinx docs generator. Although the stuff is customizable, a certain pattern can’t be crossed.
Since there is already a search bar in the manual. It will be better to work on improving the search functionality as it’s the simplest way for a user to get what they are looking for. I think a regex function can be created to find and match a word or phr

[2020-10-26 19:08] Holzhaus commented on #144
Using multiple toctrees on the index page, combined with toctree options and tuning the toctree depth would be an option though.

The search result scoring needs to be done in JavaScript, feel free to work on it. For example, all results in `source/hardware/controllers` should be weighted less then other results.

[2020-10-27 16:19] #124 closed

[2020-10-28 17:43] Holzhaus commented on #144
https://github.com/mixxxdj/manual/blob/manual-2.2.x/source/index.rst

[2020-10-28 21:55] Jiji98 commented on #144
Thank you!

[2020-10-29 11:16] Holzhaus opened #261 "Document missing Mixxx Controls"
A lot of controls displayed in Mixxx' developer tools are not documented:

- [ ] `[Master],boothDelay`
- [ ] `[Master],delay`
- [ ] `[Master],headDelay`
- [ ] `[Master],microphoneLatencyCompensation`
- [ ] `[AuxiliaryN],orientation_center`
- [ ] `[AuxiliaryN],orientation_left`
- [ ] `[AuxiliaryN],orientation_right`
- [ ] `[AuxiliaryN],talkover`
- [ ] `[ChannelN],beat_closest`
- [ ] `[ChannelN],bea

[2020-10-29 12:20] Goodiec commented on #240
Created a pull request for this issue, please review.

[2020-10-29 12:45] hannydevelop commented on #261
Hello @Holzhaus I know this would take some time to complete, can I work on it? Am sure I'll learn some new stuff!
I could start working on it immediately I rebase #248 since I have implemented the designs already.

[2020-10-29 13:19] Holzhaus commented on #261
Sure, feel free to open a PR. Also, you don't have to document all of them at once because it's probably a lot of work. Just start somewhere and open a PR. Someone else can take over the remaining COs or you come back to it later.

However, this will probably require to have a look at the C++ source code and check if there are any comments regarding the control objects (and try to understand what

[2020-10-29 14:05] hannydevelop commented on #261
Sure @Holzhaus I will do that!

[2020-10-30 14:56] Goodiec commented on #80
@dharmelolar are you still working on this?

[2020-10-30 16:44] ronso0 commented on #80
@Goodiec
I think you can go ahead and open a PR for this, though I don't really consider this a starter bug.
For best results this requires actual testing of file/folder relinking. This may be rather time consuming as you need to set up a library first incl. a few crates and playlists, then simulate the enire file moving and relinking, then double check if your crates & playlists are (re-)populate

[2020-10-30 17:49] ronso0 opened #269 "prevent wrapping in guilabel role"
![image](https://user-images.githubusercontent.com/5934199/97739774-99302d80-1ae0-11eb-817f-7ed93994e62a.png)

[2020-10-30 18:18] deborahtrez commented on #153
Thank you for assigning this to me  😃

[2020-10-30 18:21] ronso0 commented on #153
...well, forgot about that earlier & you almost finished it for 2.2 :)

[2020-10-30 21:23] ronso0 opened #270 "add description for Vinyl and Passthrough buttons"
...in https://www.mixxx.org/manual/latest/en/chapters/user_interface.html#vinyl-control-mode-and-cueing-controls

(after #154 is merged)

[2020-10-31 02:47] Goodiec commented on #80
Ok, thank you!

[2020-10-31 13:53] ronso0 commented on #38
I reopen this because I think we should also consolidate some strayed shortcuts which are not in the keyboard overview.
For example GUI section toggles, Record Mix, skin settings menu etc.

[2020-10-31 14:00] ronso0 opened #272 "update Command Line Options with explicit commands for Windows & macOS"
currently https://mixxx.org/manual/latest/en/chapters/appendix.html#command-line-options assumes Linux.

[2020-10-31 14:11] hannydevelop commented on #38
Ok!

On Oct 31, 2020 2:53 PM, "ronso0" <notifications@github.com> wrote:

[2020-10-31 14:20] ronso0 commented on #38
You don't need to tackle this now.

Don't ge me wrong: your PR is okay.
It's only I just noticed that some shortcuts are not documented anywhere (at least I don't find them).
Let's not rush this, I think we also need to update some tooltips.

[2020-10-31 14:27] hannydevelop commented on #38
No Problem, the goal is to get better while working on this project. I will
work on this until it is well documented!

On Oct 31, 2020 3:20 PM, "ronso0" <notifications@github.com> wrote:

[2020-10-31 21:49] Holzhaus opened #273 "Fix broken PDF build"
The PDF build currently fails:

[code]

[2020-11-01 03:49] #70 closed

[2020-11-01 03:49] #74 closed

[2020-11-01 22:11] Holzhaus commented on #273
Apparently SVG files in Latex PDFs is unsupported as well. I'll check for a workaround.

[2020-11-01 22:40] Holzhaus commented on #273
This can be fixed by using `sphinx.ext.imgconverter`, see https://github.com/sphinx-doc/sphinx/issues/1907.

[2020-11-02 12:12] uklotzde commented on #80
I also recommend the approach @ronso0 suggested:

1st phase: Prepare a fresh Mixxx profile
- Create a music folder and populate it with some audio files of various formats, both in the top-level root folder and in subfolders
- Start Mixxx with a new profile and select the top-level music folder
- Analyze all tracks
- Load tracks and set cue points
- Create playlists and crates and populate them wi

[2020-11-02 13:28] Goodiec commented on #80
Thanks a lot, will give it a try.

[2020-11-02 22:35] Holzhaus opened #276 "Update Wiki links"
We should update the Wiki links to GitHub Wiki.

[code]

[2020-11-03 12:44] hannydevelop commented on #269
Hello @ronso0 I opened a pull request for this #278

[2020-11-03 23:23] Goodiec commented on #276
@Holzhaus I created a pull request for this issue [here](https://github.com/mixxxdj/manual/pull/279), kindly review. Thank you.

[2020-11-04 12:43] #276 closed

[2020-11-04 15:47] Goodiec commented on #272
@ronso0 will like to work on this, is there a resource available to get the command line alternatives for the other operating systems?

[2020-11-04 15:50] Holzhaus commented on #272
@ronso0 Can you elaborate? Where does it asumme Linux?

[2020-11-04 15:54] #153 closed

[2020-11-04 16:22] ronso0 commented on #272
Sorry for being unclear.
A few days ago when I was trying to help a user on the forum and also when doing remote macOS debugging on Zulip, I noticed that we have no documentation about the exact 'mixxx' base command users need to enter into the terminal prompt to which they'd append the command line options.

It would be nice to have specific examples for macOS, Linux & Windows, like
`%PROGRAMFILE

[2020-11-04 20:59] #273 closed

[2020-11-04 21:00] Holzhaus opened #282 "Fix Russian Manual PDF"
The Russian Manual PDF apparently contains no text. This should be fixed.

[2020-11-05 00:24] Holzhaus opened #285 "Fix broken Links in 2.3 branch"
There are a lot of broken links in the `manual-2.3.x` branch that should be fixed.

[2020-11-05 23:43] #269 closed

[2020-11-05 23:52] Goodiec commented on #80
Created a pull request for this issue [here](https://github.com/mixxxdj/manual/pull/287), kindly review. Thank you

[2020-11-06 00:07] Goodiec commented on #270
@ronso0 would like to work on this, can this issue be assigned to me?

[2020-11-06 08:28] Holzhaus commented on #270
OK cool, go ahead :D

[2020-11-07 01:35] Holzhaus opened #289 "Move Standard effects mapping documentation into manual"
Some controllers (e. g. the Roland DJ-505) use our Standard Effects Mapping. As the controller documentation has been moved into 2.3 manual, the standard effects mapping should be documented in the manual as well.

https://github.com/mixxxdj/mixxx/wiki/Standard-Effects-Mapping

[2020-11-07 14:50] ronso0 commented on #289
Yes, let's also add some images

[2020-11-07 17:29] Be-ing commented on #133
No, it is essential. Many of the mapping descriptions refer to a diagram.

[2020-11-07 18:37] Holzhaus commented on #133
Yes, that's why I kept the diagrams. I agree that adding such a diagram (ideally vector images) should be best practice for manual pages, e. g.:
- https://manual.mixxx.org/2.3/en/hardware/controllers/pioneer_ddj_200.html
- https://manual.mixxx.org/2.3/en/hardware/controllers/roland_dj_505.html

But an unlabeled photo of a controller is not helpful because you have it in front of you. Also, we need

[2020-11-08 01:21] ronso0 commented on #217
#154

[2020-11-08 01:21] #217 closed

[2020-11-08 02:44] deborahtrez commented on #147
Hello, @UdokaVrede are you still working on this? :)

[2020-11-08 09:11] Holzhaus opened #290 "Document Saved Loops feature"
The Saved Loops feature from https://github.com/mixxxdj/mixxx/pulls/#2194 needs to be documented.

[2020-11-08 09:14] Holzhaus opened #291 "Document built-in effects"
We should list and document the built-in effects.

[2020-11-08 15:31] Be-ing commented on #291
I'm not sure I agree with this. They are already documented in tooltips. Duplicating those strings into the manual would create a mess for maintenance.

[2020-11-08 16:21] Goodiec commented on #285
@Holzhaus would like to work on this in this [pull request](https://github.com/mixxxdj/manual/pull/253) as the request is failing the linkcheck test as a result of this issue but noticed that most of the links that are identified as broken are anchor links that actually open up correctly, so how can this be fixed?

[2020-11-08 17:40] Holzhaus commented on #285
Is the anchor correct? For github wiki, we need to add `user-content` or something like that in front of the link. Check the merged PR that fixes the broken links for the 2.2 branch.

[2020-11-08 18:11] Goodiec commented on #285
Yes, it is but adding user-content also opens it up.

[2020-11-08 18:48] ronso0 commented on #147
@deborahtrez Go ahead if you like. 25 days without response doesn't look like there's been progress...

[2020-11-08 20:12] deborahtrez commented on #147
Alright. I'm happy to work on this. Thank you!

[2020-11-08 21:29] ronso0 opened #293 "mention mp3 encoder in Recording chapter"
mention mp3 encoder in [Libary > Recording](https://manual.mixxx.org/2.2/en/chapters/library.html#recordings) and [recording-your-mix](https://manual.mixxx.org/2.2/en/chapters/djing_with_mixxx.html#recording-your-mix)

just stumbled upon this when a user didn't have the mp3 options in Preferences
https://mixxx.discourse.group/t/bitrate-how-do-i-sdet-a-bitrate-need-to-record-at-320-kbps-constant-bi

[2020-11-08 22:38] #80 closed

[2020-11-11 17:28] Holzhaus commented on #285
#300 fixes most of the markup issues and broken wiki links. There are still a lot of links that are down though.

[2020-11-12 21:11] #57 closed

[2020-11-29 11:17] deborahtrez commented on #270
Hi @ronso0 @Holzhaus, how're you?
Is this issue meant to stay open? I saw that the PR for this was merged. Does it still need some work?

[2020-11-29 18:08] ronso0 commented on #270
Hej @deborahtrez , thanks for the reminder. Closed

[2020-11-29 18:08] #270 closed

[2020-12-01 07:37] deborahtrez commented on #272
Hi @ronso0 @Holzhaus , this is how I was able to open Mixxx in developer mode. I use Windows.
![image](https://user-images.githubusercontent.com/28389950/100709893-ecd3b680-33bf-11eb-858f-e970c47c5bc0.png)

but this is not mentioned anywhere in the documentation. I got this from one of the forums.
I can add this to that chapter if you give me the go-ahead (for Windows at least). For instance the f

[2020-12-01 22:26] ronso0 commented on #272
Sure, go ahead! I'm sure you can collect correct info for macOS, too, if you ask on Zulip.
I think for each platform we only need the "base command" once, the actual command options table in the manual can stay as it is.

[2020-12-02 00:49] deborahtrez commented on #272
Alright. Thank you! I'm on it. Hi @ywwg I will be starting with this. I will be opening a PR soon.

[2020-12-03 20:25] deborahtrez commented on #157
Hi @Holzhaus @ywwg , under this section https://mixxx.org/manual/2.3/en/chapters/library.html#using-libraries-from-other-software , there is a subtitle "Using the Serato library" that would go well under "Using external libraries". I could also add "Using the Rekordbox library" under the same section and describe how to import one from Rekordbox (from a removable device), if you approve.
There is

[2020-12-03 20:32] Be-ing commented on #157
Yes, I think the info for Rekordbox should be in a new subsection. Moving the info for iTunes to its own subsection would be helpful too.

[2020-12-03 20:34] deborahtrez commented on #157
Great! Let me get started working on this.

[2020-12-04 11:41] deborahtrez commented on #157
Hi @Be-ing @Holzhaus I'm running into a slight problem. I tried to pull the latest changes by doing `git pull https://github.com/mixxxdj/manual.git` because I needed to edit around this section  https://mixxx.org/manual/2.3/en/chapters/library.html#using-the-serato-library.

But my local repo doesn't show that section. I also tried switching branches to `manual-2.3.x` (where that section was merge

[2020-12-04 12:00] deborahtrez commented on #157
I tried this too but tests won't pass. I'm not sure about the errors that i would be resolving since i didn't edit these files...

![image](https://user-images.githubusercontent.com/28389950/101160912-dab47b00-3640-11eb-80c6-b112422ec932.png)

[2020-12-04 12:09] Holzhaus commented on #157
The rstcheck errors look like sphinx isn't installed, which is weird because it should take care of that automatically.

Please run `git merge --abort`, then run `pre-commit --install-hooks`.

Also, did you already make local changes? If not, I suggest to just start a fresh branch from `manual-2.3.x` like this:

[code]

[2020-12-04 13:12] deborahtrez commented on #157
I've done this, so I'm currently checked out at `rekordbox-library` branch. But i still don't have the section for "Using the Serato library" in my code. Maybe I can try to work without it, then everything will reflect in the upstream....?

![image](https://user-images.githubusercontent.com/28389950/101167509-0b011700-364b-11eb-80ee-101f63b5a41c.png)

[2020-12-04 13:14] deborahtrez commented on #157
I have Sphinx installed

[2020-12-04 15:21] Holzhaus commented on #157
Ah sorry, I forgot that we recently renamed branches. Instead of `manual-2.3.x`, the branch is now called `2.3`. Please rebase on that branch, then it should work.

[2020-12-06 03:42] deborahtrez commented on #157
Okay. Let me do that. Thank you.

[2020-12-08 10:15] deborahtrez commented on #157
Hi @Be-ing do you think i should also include how to export the playlist from Rekordbox onto a removable device?

[2020-12-08 10:17] Be-ing commented on #157
Yes. Does Pioneer have good documentation for that? If so, just link to that instead of rewriting that. If you could install Rekordbox and test it to make sure your instructions are complete and unambiguous that would be helpful.

[2020-12-08 10:36] deborahtrez commented on #157
Alright.

I ran into a slight issue while building with `sphinx-build source build/html -b html -d build/doctrees -c source`. Why do I get a `Extension error:
Could not import extension sphinx_mixxx (exception: No module named 'sphinx_mixxx')`.

I tried copying the code from the conf.py file in branch `2.3` and ran the command again. I got a `Extension error:
Could not import extension sphinxcontr

[2020-12-08 10:49] Holzhaus commented on #157
You need to install the build dependencies before you can build. I suggest to use a python virtual environment for this.

On Unix (Linux, macOS), you can do that with:

[code]

Now you're in a virtual python environment. All dependencies will be installed into the `myvenv` directories without polluting your main system. If you want to start from scratch, you can just remove the `myvenv` directory

[2020-12-08 10:57] deborahtrez commented on #157
Wow. Okay. Thank you @Holzhaus !

[2020-12-08 17:39] Holzhaus opened #320 "Add Screenshot of FX routing to effects documentation"
The effect routing buttons are easy to overlook. We should add screenshots to the manual, to make it more obvious.

Forum thread where a user overlooked the FX routing buttons: https://mixxx.discourse.group/t/effect-rack-1-doesnt-work-for-deck-1-yet-works-in-headphones-master/20409

[2020-12-08 20:12] deborahtrez commented on #157
Hi @Holzhaus  I'm embarrassed to say that its been 9 hours and I still haven't solved this. I did all you suggested.

![image](https://user-images.githubusercontent.com/28389950/101535860-4896d480-39aa-11eb-8b5e-99e8bb78728f.png)

And made sure my fork was synced as well. and tried to build again inside the virtual env. But I still get the same error.

![image](https://user-images.githubuserconten

[2020-12-08 20:20] Be-ing commented on #157
@deborahtrez please open a new topic in the development help stream on Zulip so the discussion here doesn't go too off topic.

[2020-12-08 20:28] deborahtrez commented on #157
Alright. Lett me do that.

[2020-12-13 07:18] deborahtrez commented on #289
Hi @ronso0  and @Holzhaus i would like to work on this. Should this be moved to the 'Effects' chapter?

[2020-12-13 07:31] ronso0 commented on #289
I think **11.5 Controller Effects Mapping** would suit better

[2020-12-13 15:06] Be-ing commented on #289
Either works IMO, but whichever place it is not should have a link to the place where it is.

[2020-12-13 18:21] JoergAtGithub opened #325 "New 2.3 CO play_latched needs documentation"
play_latched is not yet documented in  https://manual.mixxx.org/2.3/en/chapters/advanced_topics.html#mixxx-controls

The differences to play and play_indicator can be found in mixxxdj/mixxx#3358

[2020-12-13 20:28] Holzhaus commented on #325
Fixed by #326,

[2020-12-13 20:28] #325 closed

[2020-12-14 13:50] #289 closed

[2020-12-14 14:59] deborahtrez commented on #290
Hi @Holzhaus  May I please get more details on this issue? The link you provided leads to the general pull requests page of mixxxdj/mixxx ..... Is there a specific PR it was supposed to lead to?

[2020-12-14 15:14] ronso0 commented on #290
The link to Add support for Saved loops #2194 works for me.

[2020-12-15 03:34] Holzhaus opened #328 "Control Index page is not sorted alphabetically"
That makes it hard to find the control you're looking for.

https://manual.mixxx.org/2.3/en/mixxx-control.html

[2020-12-16 11:05] deborahtrez opened #329 "Document deck cloning feature for 2.3"
I came across an article about deck cloning, a feature that some Mixxx users seemed excited about. https://mixxx.discourse.group/t/new-in-2-3-deck-cloning/20267

I think it would be good to document this in the 2.3 manual.

[2021-01-01 17:37] deborahtrez commented on #329
The pull request for this issue is here. https://github.com/mixxxdj/manual/pull/330 ready for review...

[2021-01-01 17:42] deborahtrez opened #335 "Reasonable re-arrangement of 'Live Broadcasting' chapter."
I will be moving "DJing with Mixxx" inside the cookbook chapter.
The Cookbook, by definition, gives Mixxx users examples that they can work off of. And this chapter seems to fit there better....

hi @Holzhaus  can I go ahead with this?

[2021-01-01 17:44] Be-ing commented on #335
I was thinking of maybe taking the opposite approach and splitting the sections of the "DJing with Mixxx" chapter into their own chapters.

[2021-01-01 17:58] Holzhaus commented on #335
I have a hard time understanding why the manual is structured the way it is. For example, why is broadcasting a separate chapter but Recording is not?
In general, I'd rather see if we can reorganize the manual instead of just adding more chapters.

I think the mixing techniques/cookbook content that's not really specific to Mixxx should all go into a single separate chapter.
The Mixxx-specific stu

[2021-01-01 19:15] deborahtrez commented on #320
Hi @Holzhaus  is this the screenshot that should be added?

![image](https://user-images.githubusercontent.com/28389950/103444725-693a0d80-4c7c-11eb-895e-14cff63b3bac.png)

Maybe we can add a description that says "To route deck 1 to effect unit 1, click the `FX1` button to turn it on. To route deck 2 to effect unit 2. click the `FX2` button.... and so on....?

[2021-01-01 20:09] Holzhaus commented on #320
Yes, but maybe add a little context around it (e.g. that the total image size is doubled or something like that). That makes it easier to find on screen.

[2021-01-01 20:46] deborahtrez commented on #320
Okay.
I'm afraid I haven't understood what you mean by "the total image size is doubled.."
Do you mean when the "4 Effect Units" is toggled in the settings menu, the total image size is doubled, which makes it easier to find on screen?

[2021-01-01 23:18] Holzhaus commented on #320
RIght now the picture is 63x52px. If you make a screenshot with ~120x100px *where the buttons still have the same size* (so that you can also see a bit of the surrounding UI elements), it's easier to see where the buttons can be found on screen.

[2021-01-02 10:37] deborahtrez commented on #320
Ohh okay. I've understood. Let me do that. Thank you.

[2021-01-02 11:43] Holzhaus commented on #320
Btw, I think two FX units is the default, right? Maybe we should use a screenshot with just FX1/FX2.

[2021-01-02 11:58] deborahtrez commented on #320
Yes, two FX units is the default.
Alright.

[2021-01-02 12:17] deborahtrez commented on #320
Hey @Holzhaus should I include screenshots of the effect unit buttons located in the microphone and auxiliary sections of the skin as well?
I added one screenshot of the ones located in the deck section. The description of the issue says .. "we should add screenshot**s**..."

[2021-01-02 12:20] Holzhaus commented on #320
They look the same, so I don't think it's necessary.

[2021-01-02 12:28] deborahtrez commented on #320
Alright.

[2021-01-02 12:29] deborahtrez commented on #320
The PR for this is here. https://github.com/mixxxdj/manual/pull/336
Ready for review.... :)

[2021-01-03 03:33] #138 closed

[2021-01-03 17:50] deborahtrez commented on #293
Hi @ronso0 I would like to work on this issue, if it's okay with you. How do i approach this task?
I read the conversation in the discourse group but I'm still not quite sure how you would want it mentioned in the chapters....

[2021-01-03 19:03] ronso0 commented on #293
In the manual we should mention that Preferences > Recording only show available encoders, so if users don't see the MP3 option they obviously don't have an mp3 encoder installed. IMO it would be helpful to point that out (only available oncoders are listed) and add a link to https://manual.mixxx.org/2.2/en/chapters/livebroadcasting.html#activate-mp3-streaming-support
And I notice it's actually [D

[2021-01-03 19:04] ronso0 commented on #293
Sure, go ahead. anyone's allowed to pick an Issue. If the respective PR is opened we'd assign that Issue to the contributor. (most of the times that's not necessary, linking the PR and the Issue should suffice.

[2021-01-04 10:25] deborahtrez commented on #293
I agree with you on this. This is very similar to the concern that @Holzhaus had about this chapter - structure. https://github.com/mixxxdj/manual/issues/335#issuecomment-753356752
I'm going to go through each of the sub-sections under this chapter and see if the order needs revision. While I do so, perhaps it will also help me establish clear differences between this chapter and the cookbook chap

[2021-01-07 13:09] deborahtrez commented on #293
Hi @ronso0 so i tried to record a mix to try to understand this better. I have the MP3 option in Preferences > Recording

![image](https://user-images.githubusercontent.com/28389950/103894475-0cb57300-5100-11eb-9dac-55b58ee7b796.png)

.... even without the mp3 encoder installed...

![image](https://user-images.githubusercontent.com/28389950/103895271-31f6b100-5101-11eb-8c29-44c6f4210f29.png)

Shou

[2021-01-08 22:45] deborahtrez commented on #335
Hi @Holzhaus @Be-ing .  I've been thinking of a better structure for some of the chapters and sections in the manual, especially for Djing with Mixxx and the Broadcasting chapter. And this is what I came up with...

"Live Broadcasting - start your own internet radio" is a chapter of its own, but "Recording your mix" is not, even though I feel like they are somewhat similar.
What if "Record/ Broadc

[2021-01-08 23:28] Holzhaus commented on #335
Thanks, looks good so far.

Just a few questions:

What is the reason for this subsection if recording to disk is the only way to record your mix? ;-)

Isn't that basically the same? These should be merged IMHO.

Where does this subsection come from? What does it contain? Considering that the whole section is about live broadcasting, this section should have a more descriptive title I think.

I'm

[2021-01-09 11:38] deborahtrez commented on #335
I can merge these into just one section.

`10.1: Record your mix`

We can then proceed to make these ...
`10.2: Streaming Servers`

`10.3: Configuring Mixxx`
      `10.3.1: Live Broadcasting preferences`
           `10.3.1.1: Icecast Vs. Shoutcast`
           `10.3.1.2: Broadcast directories`

`10.4: Troubleshooting`

`10.5: Activate mp3 streaming support`

Alright.
Hi @Holzhaus I have made revisi

[2021-01-09 17:52] Holzhaus commented on #335
:+1:

From the user's perspective, I cannot tell what the difference between 10.3 and 10.3.1 is. If both sections are about configuration, we could just do this:

- 10.2: Live Broadcasting - Start your own mix
  - 10.1: Streaming Servers
  - 10.2: Configuring Mixxx
    - 10.2.1 Server Connection
    - 10.2.2 Stream Settings
    - 10.2.3 Encoding
    - 10.2.4 Metadata
      - 10.2.4.1 Shoutcast met

[2021-01-13 13:44] #238 closed

[2021-01-29 11:41] deborahtrez commented on #335
Do these two sections have different content?
Where will [Icecast vs. Shoutcast](https://manual.mixxx.org/2.2/en/chapters/livebroadcasting.html#icecast-vs-shoutcast) go to? Will it be under 10.2.5?

[2021-01-29 11:46] deborahtrez commented on #335
I'm thinking maybe I should work in the 2.2 branch, so that the changes are merged with 2.3, then I will work inside the 2.3 branch to delete the "Activate mp3 streaming support" section? What do you think?

[2021-01-29 13:00] Holzhaus commented on #335
Sounds good to me.

[2021-01-31 18:11] som23ya commented on #261
@Holzhaus hey, can I work on these? :smile:

[2021-01-31 18:50] Holzhaus commented on #261
Sure. You don't need to ask for permission, just open a PR ;-)

[2021-02-01 08:14] deborahtrez commented on #335
It looks like this had already been taken care of. https://manual.mixxx.org/2.3/en/chapters/livebroadcasting.html

[2021-02-04 16:26] som23ya commented on #261
@Holzhaus Can you provide a reference for documentating the controls ? Like any previous mixxx controls which have been documented?

[2021-02-04 16:29] Holzhaus commented on #261
https://manual.mixxx.org/2.3/en/chapters/advanced_topics.html#mixxx-controls

[2021-02-07 01:23] #335 closed

[2021-02-07 19:27] #320 closed

[2021-02-07 21:09] som23ya commented on #261
@Holzhaus Hey, I have prepared the documentation for  almost 10 controls. I wanted to know if I should add them to the 2.2 manual as the latest github code doesn't contain the developer [tools.](https://manual.mixxx.org/2.3/en/chapters/advanced_topics.html#the-master-group)
if not, then should I setup 2.3.x and how?

[2021-02-07 22:41] Holzhaus commented on #261
we only document the controls in the manual for 2.3 and later. After cloning the git repo, branch off the `2.3` branch, not `2.2`.

[2021-02-11 11:20] deborahtrez opened #350 "Provide more context to "Analyze your tracks/ library""
The manual never defines what exactly analysis does and why it is important, hence it can easily be overlooked - especially by the new user. It would be great to add why users should do it in advance and what happens if they don't.

https://manual.mixxx.org/2.2/en/chapters/library.html#analyze-prepare-your-tracks

[2021-02-12 23:09] #350 closed

[2021-02-18 19:06] som23ya opened #352 "Adding relevant gifs to the manual"
a hardware manual should provide gifs for various sections, something like this. https://support.serato.com/hc/article_attachments/360003883775/import.gif
Some sections which I think can improve with gifs are :

- Example Setups
- Live Broadcasting - Start your own Internet radio
- Effects and skins
- DJing With Mixxx
- DJ Hardware
- setting up and Controlling Mixxx

Instead of reading, gifs will

[2021-02-18 21:19] Holzhaus commented on #352
I mildly disagree. GIFs are not printable and also personally I often find it very distracting to read text which have animated GIFs next to them. Also, they are often very fast and them lack proper playback controls to pause or rewind them.

I think linking to YouTube Videos would be the better choice. These should either be short or have table of contents with timestamps, so that you can navigat

[2021-02-18 23:22] ronso0 commented on #352
(feels like we had that very same discussion already..)
I agree with @holzhaus, though I really doubt the Mixxx manual will ever be printed.
I can't imagine any suitable context for GIFs except explaining track drag-and-drop actions. Simpler topics can well be explained with static images -- more complex topics are better dealt with in videos IMO

@som23ya Do you have any specific example issue yo

[2021-02-20 19:27] som23ya commented on #352
https://medium.com/@banana_accounting/how-to-make-an-animated-gif-to-showcase-your-software-57c216180d25
I had come across this blog and therefore I suggested this idea. I do agree that maybe adding this to the manual might make it a bit cumbersome. However, the website can be revamped a bit by maybe changing the screenshots section with just a gallery section with pics, gifs, and youtube video li

[2021-02-24 12:55] deborahtrez commented on #328
Hi @Holzhaus , can I help with this?

[2021-02-24 13:35] Holzhaus commented on #328
Ah, thanks for reminding me. I already had some some code in progress and forgot to push it.

[2021-02-24 14:31] #328 closed

[2021-02-24 16:03] ronso0 opened #354 "move Mixxx Controls to Appendix"
I've caught myself multiple times looking for those and finally found them as sub-chapter in the Controller mapping chapter, though I expected it in the Appendix which contains list-like information collections, whereas the main chapters should contain the more general and structural information.

Also, the controls apply to Keyboard Mappings and skins, as well, so I suggest to move them to the Ap

[2021-02-26 13:09] deborahtrez opened #355 "Change screenshots in 2.3 to default "LateNight" skin"
The default skin for Mixxx 2.3 is the Latenight skin. Shouldn't we change the screenshots from the Deere to the Latenight skin? especially for Chapter 3.

[2021-02-26 13:47] Holzhaus commented on #355
Yes, see #220 and #117.

[2021-02-26 13:50] deborahtrez commented on #355
Ohhh. 😅I had forgotten that I had opened the exact same issue months back. 😅

[2021-03-05 01:16] ronso0 opened #358 "document how VinylControl/Passthrough can be (ab)used to route Aux trough decks"
in order to have (GUI) access to basic mixer controls like EQs, Vol fader etc.

this has just been requested again on the forum.
lets find a good place to add that info, incl. benefits (and drawbacks?), until advanced routing is designed and implemented [lp:1716235 route Auxiliary through decks](https://bugs.launchpad.net/mixxx/+bug/1716235).

[2021-03-12 00:20] ronso0 opened #362 "update rateRange description, ranges from 0.01 - 4.00"
https://github.com/mixxxdj/mixxx/blob/2.3/src/engine/controls/ratecontrol.cpp#L56

[2021-03-15 00:46] ronso0 opened #363 "add touchscreen instructions to Controlling Mixxx"
gather information on how to setup on-screen keyboads so they work with searchbar, and inline track tag editing and other situations maybe.

On Ubuntu with Mate desktop for example it would not popup by default but can be configured so it works, also in fullscreen.
https://mixxx.discourse.group/t/search-song-typing-with-midi-stepper-wheel-without-keyboard/21585

[2021-03-22 07:47] daschuer opened #365 "broken link to http://banshee.fm"
Discovered by CI.
I think it should be
https://www.banshee-project.org/

[code]

[2021-04-02 19:02] StarTrooper08 commented on #365
Hello , I m new too Mixxxdj community. I like to contribute to open source can I get started with my first contribution to Mixxxdj with the Mixxxdj/manual issue no #365

[2021-04-02 20:10] Holzhaus commented on #365
@StarTrooper08 sure, go ahead and open a PR 👍

[2021-04-02 21:05] ronso0 commented on #365
@StarTrooper08 See https://github.com/mixxxdj/manual/tree/2.3#readme for getting started

[2021-04-03 00:41] StarTrooper08 commented on #365
Is this link need to be changed?

![IMG_20210403_000428](https://user-images.githubusercontent.com/72031540/113463314-c2176e80-9442-11eb-9366-808e41829e15.jpg)

Files from repository manual - source / chapters / library.rst line no 864.

[2021-04-03 00:57] Holzhaus commented on #365
Yes.

[2021-04-03 01:14] StarTrooper08 commented on #365
Can I make PR for this??

[2021-04-03 01:42] StarTrooper08 commented on #365
Done

[2021-04-03 01:42] StarTrooper08 commented on #365
Please have a look over the PR🙂.

[2021-04-03 01:55] Holzhaus commented on #365
Thanks, merged.

[2021-04-03 01:55] #365 closed

[2021-04-03 01:56] StarTrooper08 commented on #365
Welcome , I will try to work on another issue.

[2021-04-30 11:16] #355 closed

[2021-05-06 11:56] ronso0 opened #381 "move Mixxx controls to Appendix"
..or any other top level to ease access.

Also controls are relevant also for keyboards and skins so they don't need to be a inside the Controller chapter

[2021-05-06 11:58] Holzhaus commented on #381
Agreed. We should move it to a separate file, because the file is pretty long already, and then include that file in the appendix.

[2021-05-06 12:24] ronso0 commented on #381
Haha #354 :hamburger:

[2021-05-06 12:24] #381 closed

[2021-05-07 19:29] Holzhaus commented on #354
Fixed in #382.

[2021-05-07 19:30] #285 closed

[2021-05-07 19:31] Holzhaus commented on #223
I think this is fixed. If not, please reopen.

[2021-05-07 19:31] #223 closed

[2021-05-07 20:08] ronso0 commented on #362
fixed en passant in #382

[2021-05-07 20:12] #362 closed

[2021-05-07 20:12] Holzhaus commented on #362
thanks!

[2021-05-10 16:44] #146 closed

[2021-06-22 07:11] daschuer opened #395 "page-not-found not styled"
see:
https://manual.mixxx.org/2.3/en/chapters/hardware/controllers/#page-not-found

[2021-06-22 13:43] ronso0 commented on #395
also, from that page there is no easy way back to the respective chapter, the genrated links in the language, version and release sections are useless
https://manual.mixxx.org/2.3/en/chapters/hardware/controllers/chapters/chapters/introduction.html

[2021-06-30 13:13] ronso0 opened #405 "Consolidate keyboard mapping / app shortcuts"
Currently, there are 3 different mapping sheets:
* graphical sheet (decks, AutoDJ and some library controls)
* keyboard mapping table (decks, preview deck, library, AutoDJ, vinyl control)
* app shortcuts (incl. vinyl control toggles and others)

We should find a smart way to re-arrange those, like
* add a second view to the graphical sheet (app shortcuts) > Help menu + manual "Controlling Mixxx"
*

[2021-07-01 09:06] Holzhaus opened #406 "New macOS sandbox config location"
The new location should be documented in the "Upgrading Mixxx" section (in addition to the old one, to help people who want to downgrade).

The location where to put custom controller mappings is also outdated.

[2021-07-05 16:14] ICTman1076 commented on #395
I have begun #407 to help fix this, but it will not play nice with the multiple languages in its current state.

[2021-07-05 16:25] Holzhaus commented on #395
The issue is that the urls to images/styles/etc are relative. So it works for https://manual.mixxx.org/2.3./en/foo but not for https://manual.mixxx.org/2.3/en/foo/bar. We probably just need to override html_baseurl.

[2021-07-05 16:25] Holzhaus commented on #395
And also add a 404 page for non existing versions to the `build_html.sh` file.

[2021-07-08 10:10] Holzhaus opened #408 "Explain difference between the controller list and mappings and clarify issues"
A lot of people seem to think the JS/XML has something to do with what controllers show up in the preferences sidebar.

Also, there are more issues can prevent a controller to show up, e. g. Permission issues (udev).

This should be explained here:  https://manual.mixxx.org/2.3/en/chapters/controlling_mixxx.html#loading-a-controller-mapping

[2021-07-10 02:05] Holzhaus opened #409 "Documented the renamed sync lock controls"
Some controls are renamed/aliased here:
https://github.com/mixxxdj/mixxx/pull/3921
This should be documented.

[2021-07-25 22:29] ronso0 opened #414 "Example setups: add simple 'external mixer' setup"
simple diagram without the vinyl control wiring of https://manual.mixxx.org/2.3/en/chapters/example_setups.html#laptop-external-hardware-mixer-and-vinyl-control

related:
#55 mixer with built-in sound card diagram

[2021-07-26 00:19] ronso0 opened #416 "update screenshots in Library > metadata editing"
https://manual.mixxx.org/2.3/en/chapters/library.html#edit-metadata-of-audio-files

[2021-10-05 17:53] ronso0 opened #441 "Mixxx controls: rename categories, sort by context"
I frequently had trouble finding the correct controls category. For me, the issue is less severe because mostly I roughly know what I'm looking for and simply use the browser search. Furthermore the current group string formatting decreases readability IMO.
For new users it's appearantly bit more diificult, see [lp:1941027 mixxx control for Big Library](https://bugs.launchpad.net/mixxx/+bug/194102

[2021-10-09 21:47] ronso0 opened #444 "Reorganize keyboard documentation"
from https://github.com/mixxxdj/manual/pull/443
there's the keyboard 'cheat sheet' and
"Also, there's some (justified) overlap of [application_shortcuts](https://manual.mixxx.org/2.3/en/chapters/appendix/application_shortcuts.html) and [appendix-keyboard](https://manual.mixxx.org/2.3/en/chapters/appendix/keyboard_mapping_table.html#appendix-keyboard).
... we can think about organising those better

[2021-10-15 19:17] ronso0 commented on #405
#444

[2021-10-15 19:21] #293 closed

[2021-10-15 21:40] ronso0 commented on #405
I closed this because duplicate, not because it's fixed.

But thanks, we can test that. Issues should also be auto-closed when you link a PR, but appearantly that only works as long as the PR is open.

[2021-11-06 23:21] ronso0 opened #451 "fix macOS settings directory path"
old path (<=2.2.x) is still shown in
https://manual.mixxx.org/2.3/en/chapters/advanced_topics.html#adding-support-for-your-midi-hid-controller
https://manual.mixxx.org/2.3/en/chapters/advanced_topics.html#deleting-your-library
and other places?

Users upgrading to 2.3 won't notice it's the wrong directory because it's populated with Mixxx files?
https://bugs.launchpad.net/mixxx/+bug/1950047

[2021-11-07 10:04] frspp commented on #451
"Users upgrading to 2.3 won't notice it's the wrong directory because it's populated with Mixxx files?"
No it is not populated. I created the folder as per Manual instructions.

[2021-11-07 10:09] ronso0 commented on #451
okay, thanks.
though the manual doesn't instruct to _create_ that folder.

[2021-11-07 10:10] frspp commented on #451
True. I have used some application before where you need to create the folder.

[2021-11-12 14:18] ronso0 commented on #451
@frspp Could you please check https://github.com/mixxxdj/manual/pull/454 wether the paths are correct now?

[2021-11-12 14:20] #451 closed

[2021-12-04 00:57] ronso0 opened #460 "Document mix_mode button"
`[EffectRack1_EffectUnitN],mix_mode`

[2021-12-25 01:43] ronso0 opened #463 "document multi-broadcast feature"

[2022-01-04 16:14] ronso0 opened #466 "Explain BPM lock icon in the tracks view"
can go to [4.2. Tracks - View and edit your whole collection](https://manual.mixxx.org/2.3/en/chapters/library.html#tracks-view-and-edit-your-whole-collection)

= locks the beatgrid
= prevents re-analyzing beats

[2022-01-31 21:48] ronso0 commented on #406
resolved by #469

[2022-01-31 21:48] #406 closed

[2022-01-31 22:11] ronso0 commented on #272
resolved by #313

[2022-01-31 22:11] #272 closed

[2022-01-31 22:28] ronso0 commented on #460
covered by #261

[2022-01-31 22:28] #460 closed

[2022-02-12 23:18] ronso0 opened #473 "Add info about Left / Center / Right buses"
noticed in [No samplers sound with external mixer](https://mixxx.discourse.group/t/no-samplers-sound-with-external-mixer/24236)

[2022-03-21 21:12] ronso0 opened #477 "MIDI Wizard: add hint for control combos (Shift + control)"
The wizard learns the first incoming signal after a control is picked.
Thus, to learn control combos, `Shift` needs to be pressed (or locked) **before** chosing the control to be learned.

We should also added that info to the Wizard itself.

[2022-05-16 23:03] ronso0 opened #486 "add softTakeover to the glossary"
it is used in mapping and MIDI Wizard  documentation. Let's put it in the glossary so we can refer to the same description everywhere.

[2022-05-17 18:29] soerenbe commented on #486
I had a short look. In the documentation there are many different types of soft-takeover:

* soft takeover
* SoftTakeover
* Soft Takeover
* Soft-Takeover
....

I think this can be aligned when working on this. For now I could not decide which one to chose (or is it up to the contributor? ;-))

[2022-05-17 19:05] daschuer commented on #486
My vote is "Soft Takeover" as a feature name.
Maybe a native speaker should confirm the final decision.

[2022-05-18 20:36] ronso0 commented on #486
or we use the name of the Mixxx control `softTakeover`

[2022-06-15 23:17] ronso0 opened #488 "explain different ways to Analyze tracks"
besides doing this in Library > Analyze
* drag tracks onto the Analyze sidebar item
* right-click any crate or playlist > "Analyze entire crate|playlist"

[2022-06-16 19:11] ronso0 commented on #488
* via track context menu

WIP https://github.com/mixxxdj/mixxx/pull/4806?notification_referrer_id=NT_kwDOAFqMd7IzODIzODM4OTcyOjU5MzQxOTk&notifications_query=is%3Aunread

[2022-06-20 11:37] Swiftb0y opened #490 "Explain Auxiliary Inputs"
Came up while reviewing #489
The only current mention on aux inputs we have is this: https://github.com/mixxxdj/manual/blob/main/source/chapters/user_interface.rst#microphones--auxiliary-inputs

[2022-06-20 23:21] #473 closed

[2022-07-01 12:12] ronso0 opened #493 "explain that "New" in Analyse means "added within last 7 days""

[2022-07-03 23:11] ronso0 opened #495 "explain which decks / tracks are added to history"
* only audible tracks of main decks 1-4 are added to history
* explain 'audible'
* explain what that means for external mixer use cases incl. the "now playing" info

Info should probably go to a separate chapter, with links in History and Broadcasting.

Got aware of this here https://mixxx.discourse.group/t/your-way-to-automate-the-export-a-tracklist-after-each-mix/25217

[2022-07-23 21:38] ronso0 opened #498 "explain Engine Prime export function?"

[2022-07-27 10:25] ronso0 opened #499 "document Metronome effect"

[2022-07-29 11:57] ronso0 opened #500 "Improve search function"
there are a few aspects of the manual search that can be improved:
* include headers:
it seems headers are ignored, for example "hidden tracks" should show The Mixxx Library > Hidden Tracks as top-most result
https://manual.mixxx.org/2.3/en/search.html?q=%22Hidden+Tracks%22&check_keywords=yes&area=default#
https://manual.mixxx.org/2.3/en/chapters/library.html#hidden-tracks

* show matches in hardw

[2022-08-12 19:58] ronso0 opened #501 "document new effect controls"
document new effect controls added by effects refactoring #4467 (#2618).
Just stumbled over `loaded_chain_preset`, probably there are others.

Also change some controls to new version and mark previous controls as deprecated, for example `chain_selector` > `chain_preset_selector`, `next_/prev_chain_preset`

In addition to the `[EffectRack1_EffectUnitN]` controls listed in #261
- [x] `[EffectRack1_

[2022-08-13 18:43] Swiftb0y commented on #501
Note for later: EffectPreset indicies are 1-indexed. None/passthrough preset is (`loaded_chain_preset` ,`0`)

[2022-08-29 09:18] ronso0 opened #505 "Consolidate mouse/touchscreen features that are not mentioned / scattered across various chapters"
* deck track menu (right-click track labels)
* track properties dialog (double-click track labels)
* reset controls (double-click / right-click potmeter controls)
* deck clone feature
* ...

These features can be explained in new capter [**Mixxx Interface > General**](https://manual.mixxx.org/2.4/en/chapters/user_interface.html) or in [**Controlling Mixxx > Using a Mouse and Touchpad**](https://ma

[2022-09-03 15:20] #395 closed

[2022-09-04 13:31] daschuer opened #511 "netlify/actions/cli@master broken"
Our CI fails now because of
[code]
@Holzhaus do you have an idea how to fix this?

[2022-09-04 13:47] daschuer commented on #511
This was the last working one:
https://github.com/mixxxdj/manual/runs/8158092725?check_suite_focus=true

[2022-09-04 13:48] daschuer commented on #511
I have also filed an upstream issue https://github.com/netlify/actions/issues/60

[2022-09-04 18:41] daschuer commented on #511
The switch to careflow/netlify-actions/cli@master solves the issue.
https://github.com/mixxxdj/manual/commit/d0e6614aa53e419bbb9a7c68b5f030d0cf3a11a4

[2022-09-04 18:41] #511 closed

[2022-09-05 08:12] #240 closed

[2022-09-05 08:24] daschuer opened #514 "PDF link always points to the untranslated version of the manual"
This should point to the same version displayed as HTML

[2022-09-05 08:46] daschuer commented on #282
The used font [LMRoman10](https://fonts2u.com/lmroman10-regular.font) has not cyrilic characters.

[2022-09-05 09:12] daschuer commented on #282
This one seems to be related https://github.com/sphinx-doc/sphinx/pull/5645 but we are using Sphinx 5.1.1 and this was merged to 2.0.

[2022-09-05 09:53] daschuer opened #515 "The " Edit on GitHub" points alwasy to the same branch"
It should point to the branch of the viewed version instead

[2022-09-21 11:13] ronso0 opened #518 "consolidate & link sound I/O info"
Unfortunately, while working on https://github.com/mixxxdj/manual/pull/489, I didn't notice that some of the info of the new chapter
[preferences/sound_hardware.html#output-and-input-devices](https://manual.mixxx.org/2.3/en/chapters/preferences/sound_hardware.html#output-and-input-devices)
is already available in
[getting_started.html#configuring-sound-input-and-output](https://manual.mixxx.org/2.